In [33]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None) ## 모든 열 출력
pd.set_option('display.max_rows', None) ## 모든 행 출력

In [4]:
pre_season = pd.read_csv("Pre_Season_Batter.csv")
pre_season

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,...,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
0,0,가르시아,2018,LG,0.350,7,20,1,7,1,...,1,0.550,0.409,1,177cm/93kg,1985년 04월 12일,내야수(우투우타),쿠바 Ciego de Avila Maximo Gomez Baez(대),NaN,0.959
1,1,강경학,2011,한화,0.000,4,2,2,0,0,...,0,0.000,0.500,0,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.500
2,1,강경학,2014,한화,-,4,0,2,0,0,...,0,NaN,NaN,0,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,NaN
3,1,강경학,2015,한화,0.130,10,23,3,3,0,...,0,0.130,0.286,2,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.416
4,1,강경학,2016,한화,0.188,14,32,4,6,1,...,0,0.281,0.212,0,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.493
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1388,342,황재균,2014,롯데,0.407,10,27,3,11,2,...,0,0.593,0.448,1,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,1.041
1389,342,황재균,2015,롯데,0.333,11,30,8,10,3,...,0,0.433,0.389,0,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.822
1390,342,황재균,2016,롯데,0.310,16,42,8,13,3,...,0,0.429,0.370,1,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.799
1391,342,황재균,2018,KT,0.250,6,16,3,4,1,...,0,0.500,0.333,3,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.833
1392,344,황진수,2014,롯데,0.000,1,1,1,0,0,...,0,0.000,0.000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000

In [3]:
# Regular_Season_Batter_Day_by_Day_b4 = pd.read_csv("Regular_Season_Batter_Day_by_Day_b4.csv")
# Regular_Season_Batter_Day_by_Day_b4

,batter_id,batter_name,date,opposing_team,avg1,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,HBP,SO,GDP,avg2,year
0,0,가르시아,3.24,NC,0.333,3,1,1,0,0,0,0,0,0,1,0,1,0,0.333,2018
1,0,가르시아,3.25,NC,0.000,4,0,0,0,0,0,0,0,0,0,0,1,0,0.143,2018
2,0,가르시아,3.27,넥센,0.200,5,0,1,0,0,0,0,0,0,0,0,0,0,0.167,2018
3,0,가르시아,3.28,넥센,0.200,5,1,1,0,0,0,1,0,0,0,0,0,0,0.176,2018
4,0,가르시아,3.29,넥센,0.250,4,0,1,0,0,0,3,0,0,0,0,0,1,0.190,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112268,344,황진수,6.23,LG,-,0,0,0,0,0,0,0,0,0,1,0,0,0,0.158,2018
112269,344,황진수,6.26,넥센,0.000,1,0,0,0,0,0,0,0,0,0,0,1,0,0.150,2018
112270,344,황진수,6.27,넥센,0.500,2,1,1,1,0,0,0,0,0,0,0,1,0,0.182,2018
112271,344,황진수,6.28,넥센,-,0,0,0,0,0,0,0,0,0,0,0,0,0,0.182,2018
112272,344,황진수,6.30,한화,0.000,2,0,0,0,0,0,0,0,0,0,0,0,0,0.167,2018

In [7]:
regular_season = pd.read_csv("Regular_Season_Batter.csv")
regular_season

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,...,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
0,0,가르시아,2018,LG,0.339,50,183,27,62,9,...,3,0.519,0.383,9,177cm/93kg,1985년 04월 12일,내야수(우투우타),쿠바 Ciego de Avila Maximo Gomez Baez(대),NaN,0.902
1,1,강경학,2011,한화,0.000,2,1,0,0,0,...,0,0.000,0.000,1,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.000
2,1,강경학,2014,한화,0.221,41,86,11,19,2,...,1,0.349,0.337,6,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.686
3,1,강경학,2015,한화,0.257,120,311,50,80,7,...,3,0.325,0.348,15,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.673
4,1,강경학,2016,한화,0.158,46,101,16,16,3,...,5,0.257,0.232,7,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.489
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2449,344,황진수,2014,롯데,0.000,5,5,0,0,0,...,0,0.000,0.000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000
2450,344,황진수,2015,롯데,0.000,2,2,0,0,0,...,0,0.000,0.000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000
2451,344,황진수,2016,롯데,0.000,11,10,2,0,0,...,0,0.000,0.000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000
2452,344,황진수,2017,롯데,0.291,60,117,18,34,6,...,2,0.402,0.359,4,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.761
2453,344,황진수,2018,롯데,0.167,18,24,6,4,1,...,0,0.333,0.231,3,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.564

In [24]:
pre_season['year'].value_counts()

year
2018    182
2017    167
2016    153
2015    134
2014    117
2013    104
2012     87
2011     75
2010     72
2009     66
2008     61
2007     43
2005     37
2006     36
2004     28
2003     19
2002     12
Name: count, dtype: int64

In [15]:
pre_season['team'].value_counts() 
# 우리(2008) = 히어로즈(2009) = 넥센(2010~)
# 현대(1995-2007) -> 제외

team
두산      186
LG      174
SK      169
롯데      166
삼성      149
KIA     132
한화      131
넥센      112
NC       88
KT       57
현대       18
우리        6
히어로즈      5
Name: count, dtype: int64

In [20]:
현대_pre = pre_season[pre_season['team'] == '현대']
현대_pre['year'].value_counts()

year
2005    5
2006    4
2007    4
2003    3
2004    2
Name: count, dtype: int64

In [21]:
우리_pre = pre_season[pre_season['team'] == '우리']
우리_pre['year'].value_counts()

year
2008    6
Name: count, dtype: int64

In [22]:
히어로즈_pre = pre_season[pre_season['team'] == '히어로즈']
히어로즈_pre['year'].value_counts()

year
2009    5
Name: count, dtype: int64

In [34]:
넥센_pre = pre_season[pre_season['team'] == '넥센']
넥센_pre['year'].value_counts()

year
2016    17
2017    16
2015    16
2018    14
2014    14
2013    12
2012     9
2011     8
2010     6
Name: count, dtype: int64

In [43]:
pre_season = pre_season.replace({'team':'우리'}, '넥센')
pre_season = pre_season.replace({'team':'히어로즈'}, '넥센')
regular_season = regular_season.replace({'team':'우리'}, '넥센')
regular_season = regular_season.replace({'team':'히어로즈'}, '넥센')

In [44]:
넥센_pre = pre_season[pre_season['team'] == '넥센']
넥센_pre['year'].value_counts()

year
2016    17
2017    16
2015    16
2018    14
2014    14
2013    12
2012     9
2011     8
2010     6
2008     6
2009     5
Name: count, dtype: int64

In [63]:
# team 별로 묶기

LG_pre = pre_season[pre_season['team'] == 'LG']
LG_regular = regular_season[regular_season['team'] == 'LG']

SK_pre = pre_season[pre_season['team'] == 'SK']
SK_regular = regular_season[regular_season['team'] == 'SK']

LT_pre = pre_season[pre_season['team'] == '롯데']
LT_regular = regular_season[regular_season['team'] == '롯데']

SS_pre = pre_season[pre_season['team'] == '삼성']
SS_regular = regular_season[regular_season['team'] == '삼성']

KIA_pre = pre_season[pre_season['team'] == 'KIA']
KIA_regular = regular_season[regular_season['team'] == 'KIA']

HH_pre = pre_season[pre_season['team'] == '한화']
HH_regular = regular_season[regular_season['team'] == '한화']

NX_pre = pre_season[pre_season['team'] == '넥센']
NX_regular = regular_season[regular_season['team'] == '넥센']

NC_pre = pre_season[pre_season['team'] == 'NC']
NC_regular = regular_season[regular_season['team'] == 'NC']

KT_pre = pre_season[pre_season['team'] == 'KT']
KT_regular = regular_season[regular_season['team'] == 'KT']

In [76]:
# LG_avg_OPS 
# col: pre, regular, avg_of_year
# row: year

# -> avg_of_year만 평균 내면 됨

LG_pre_avg_OPS = LG_pre.groupby('year')['OPS'].mean().reset_index()
LG_pre_avg_OPS.rename(columns = {'OPS':'pre'},inplace=True)

LG_pre_avg_OPS # 2002년에 NAN 발생

    year       pre
0   2002       NaN
1   2003  0.404000
2   2004  0.824333
3   2005  0.608500
4   2006  0.940667
5   2007  0.607000
6   2008  0.688333
7   2009  0.460111
8   2010  0.596000
9   2011  0.749778
10  2012  0.677571
11  2013  0.607154
12  2014  0.713833
13  2015  0.744632
14  2016  0.701667
15  2017  0.759588
16  2018  0.520176

In [79]:
LG_regular_avg_OPS = LG_regular.groupby('year')['OPS'].mean().reset_index()
LG_regular_avg_OPS.rename(columns = {'OPS':'regular'},inplace=True)

LG_avg_OPS = pd.merge(LG_pre_avg_OPS, LG_regular_avg_OPS, on='year', how='outer')
LG_avg_OPS = LG_avg_OPS.sort_values(by='year')

LG_avg_OPS

    year       pre   regular
17  1994       NaN  0.000000
18  1996       NaN  0.476212
19  1997       NaN  0.679836
20  1998       NaN  0.509843
21  1999       NaN  0.637173
22  2000       NaN  0.689250
23  2001       NaN  0.739564
0   2002       NaN  0.550519
1   2003  0.404000  0.618767
2   2004  0.824333  0.512854
3   2005  0.608500  0.663140
4   2006  0.940667  0.540621
5   2007  0.607000  0.602979
6   2008  0.688333  0.579910
7   2009  0.460111  0.662520
8   2010  0.596000  0.604513
9   2011  0.749778  0.600774
10  2012  0.677571  0.509732
11  2013  0.607154  0.556522
12  2014  0.713833  0.664074
13  2015  0.744632  0.585467
14  2016  0.701667  0.719454
15  2017  0.759588  0.651216
16  2018  0.520176  0.671095

In [80]:
SK_pre_avg_OPS = SK_pre.groupby('year')['OPS'].mean().reset_index()
SK_pre_avg_OPS.rename(columns = {'OPS':'pre'},inplace=True)

SK_regular_avg_OPS = SK_regular.groupby('year')['OPS'].mean().reset_index()
SK_regular_avg_OPS.rename(columns = {'OPS':'regular'},inplace=True)

SK_avg_OPS = pd.merge(SK_pre_avg_OPS, SK_regular_avg_OPS, on='year', how='outer')
SK_avg_OPS = SK_avg_OPS.sort_values(by='year')

SK_avg_OPS

    year       pre   regular
17  2000       NaN  0.000000
18  2001       NaN  0.482098
0   2002  0.783500  0.420000
1   2003  0.427000  0.561371
2   2004  0.473500  0.565883
3   2005  0.538333  0.619544
4   2006  0.827625  0.756970
5   2007  0.692500  0.752365
6   2008  0.655273  0.662651
7   2009  0.557167  0.778398
8   2010  0.687818  0.662001
9   2011  0.708800  0.633239
10  2012  0.767222  0.605156
11  2013  0.659091  0.661714
12  2014  0.726182  0.748968
13  2015  0.559077  0.720857
14  2016  0.670154  0.771601
15  2017  0.552647  0.778644
16  2018  0.706944  0.771250

In [83]:
LT_pre_avg_OPS = LT_pre.groupby('year')['OPS'].mean().reset_index()
LT_pre_avg_OPS.rename(columns = {'OPS':'pre'},inplace=True)

LT_regular_avg_OPS = LT_regular.groupby('year')['OPS'].mean().reset_index()
LT_regular_avg_OPS.rename(columns = {'OPS':'regular'},inplace=True)

LT_avg_OPS = pd.merge(LT_pre_avg_OPS, LT_regular_avg_OPS, on='year', how='outer')
LT_avg_OPS = LT_avg_OPS.sort_values(by='year')

LT_avg_OPS

    year       pre   regular
17  1999       NaN  1.124961
18  2000       NaN  0.350468
19  2001       NaN  0.619632
0   2002  0.387333  0.523525
1   2003  0.574000  0.595256
2   2004  0.932750  0.516666
3   2005  0.681000  0.648094
4   2006  0.918500  0.608589
5   2007  0.522125  0.593831
6   2008  0.664889  0.700836
7   2009  0.647700  0.661629
8   2010  0.982556  0.653621
9   2011  0.723200  0.629964
10  2012  0.562300  0.581690
11  2013  0.551727  0.539284
12  2014  0.811643  0.633186
13  2015  0.730167  0.546447
14  2016  0.641917  0.680980
15  2017  0.705059  0.687517
16  2018  0.742789  0.706476

In [84]:
SS_pre_avg_OPS = SS_pre.groupby('year')['OPS'].mean().reset_index()
SS_pre_avg_OPS.rename(columns = {'OPS':'pre'},inplace=True)

SS_regular_avg_OPS = SS_regular.groupby('year')['OPS'].mean().reset_index()
SS_regular_avg_OPS.rename(columns = {'OPS':'regular'},inplace=True)

SS_avg_OPS = pd.merge(SS_pre_avg_OPS, SS_regular_avg_OPS, on='year', how='outer')
SS_avg_OPS = SS_avg_OPS.sort_values(by='year')

SS_avg_OPS

    year       pre   regular
17  1999       NaN  0.575549
18  2000       NaN  0.369048
19  2001       NaN  0.830124
0   2002  0.324667  0.819206
1   2003  0.638500  0.556417
2   2004  0.520750  0.551674
3   2005  0.440000  0.721196
4   2006  0.600500  0.732263
5   2007  0.578500  0.580395
6   2008  0.684333  0.538175
7   2009  0.666889  0.702407
8   2010  0.656222  0.732156
9   2011  0.682727  0.622306
10  2012  0.844545  0.538388
11  2013  0.512833  0.698042
12  2014  0.553091  0.679309
13  2015  0.792923  0.717367
14  2016  0.707077  0.728302
15  2017  0.591375  0.598919
16  2018  0.711389  0.612458

In [85]:
KIA_pre_avg_OPS = KIA_pre.groupby('year')['OPS'].mean().reset_index()
KIA_pre_avg_OPS.rename(columns = {'OPS':'pre'},inplace=True)

KIA_regular_avg_OPS = KIA_regular.groupby('year')['OPS'].mean().reset_index()
KIA_regular_avg_OPS.rename(columns = {'OPS':'regular'},inplace=True)

KIA_avg_OPS = pd.merge(KIA_pre_avg_OPS, KIA_regular_avg_OPS, on='year', how='outer')
KIA_avg_OPS = KIA_avg_OPS.sort_values(by='year')

KIA_avg_OPS

    year       pre   regular
17  2001       NaN  0.861296
0   2002  0.658000  0.816332
1   2003  0.750000  0.630190
2   2004  2.500000  0.702187
3   2005  0.655000  0.520889
4   2006  0.678000  0.697555
5   2007  0.442000  0.552990
6   2008  0.669200  0.642780
7   2009  0.906000  0.694580
8   2010  0.716167  0.682515
9   2011  0.514556  0.697959
10  2012  0.616250  0.598993
11  2013  0.907909  0.643924
12  2014  0.795091  0.764363
13  2015  0.728727  0.590948
14  2016  0.695538  0.717374
15  2017  0.829474  0.692368
16  2018  0.747100  0.685720

In [86]:
HH_pre_avg_OPS = HH_pre.groupby('year')['OPS'].mean().reset_index()
HH_pre_avg_OPS.rename(columns = {'OPS':'pre'},inplace=True)

HH_regular_avg_OPS = HH_regular.groupby('year')['OPS'].mean().reset_index()
HH_regular_avg_OPS.rename(columns = {'OPS':'regular'},inplace=True)

HH_avg_OPS = pd.merge(HH_pre_avg_OPS, HH_regular_avg_OPS, on='year', how='outer')
HH_avg_OPS = HH_avg_OPS.sort_values(by='year')

HH_avg_OPS

    year       pre   regular
17  1996       NaN  0.890260
18  1997       NaN  0.768116
19  1998       NaN  0.456915
20  1999       NaN  0.512775
21  2000       NaN  0.503897
22  2001       NaN  0.853838
0   2002  0.652000  0.661039
1   2003  0.731500  0.599668
2   2004  0.750250  0.612157
3   2005  1.638333  0.605261
4   2006  0.712000  0.610810
5   2007  0.587400  0.627992
6   2008  0.574857  0.551132
7   2009  0.796571  0.631518
8   2010  0.761167  0.605396
9   2011  0.571000  0.622209
10  2012  0.609500  0.584965
11  2013  0.674125  0.526252
12  2014  0.525200  0.626278
13  2015  0.608625  0.690590
14  2016  0.597867  0.607198
15  2017  0.643533  0.633855
16  2018  0.689667  0.669409

In [87]:
NX_pre_avg_OPS = NX_pre.groupby('year')['OPS'].mean().reset_index()
NX_pre_avg_OPS.rename(columns = {'OPS':'pre'},inplace=True)

NX_regular_avg_OPS = NX_regular.groupby('year')['OPS'].mean().reset_index()
NX_regular_avg_OPS.rename(columns = {'OPS':'regular'},inplace=True)

NX_avg_OPS = pd.merge(NX_pre_avg_OPS, NX_regular_avg_OPS, on='year', how='outer')
NX_avg_OPS = NX_avg_OPS.sort_values(by='year')

NX_avg_OPS

    year       pre   regular
0   2008  0.402333  0.526328
1   2009  0.542400  0.560414
2   2010  0.755333  0.577718
3   2011  0.726375  0.555598
4   2012  0.783778  0.593756
5   2013  0.717250  0.637322
6   2014  0.692357  0.730110
7   2015  0.652250  0.735878
8   2016  0.570588  0.760597
9   2017  0.734437  0.719181
10  2018  0.822714  0.731619

In [88]:
NC_pre_avg_OPS = NC_pre.groupby('year')['OPS'].mean().reset_index()
NC_pre_avg_OPS.rename(columns = {'OPS':'pre'},inplace=True)

NC_regular_avg_OPS = NC_regular.groupby('year')['OPS'].mean().reset_index()
NC_regular_avg_OPS.rename(columns = {'OPS':'regular'},inplace=True)

NC_avg_OPS = pd.merge(NC_pre_avg_OPS, NC_regular_avg_OPS, on='year', how='outer')
NC_avg_OPS = NC_avg_OPS.sort_values(by='year')

NC_avg_OPS

   year       pre   regular
0  2013  0.665556  0.630406
1  2014  0.660167  0.594825
2  2015  0.520417  0.617672
3  2016  0.590933  0.674495
4  2017  0.724471  0.629106
5  2018  0.939526  0.625519

In [89]:
KT_pre_avg_OPS = KT_pre.groupby('year')['OPS'].mean().reset_index()
KT_pre_avg_OPS.rename(columns = {'OPS':'pre'},inplace=True)

KT_regular_avg_OPS = KT_regular.groupby('year')['OPS'].mean().reset_index()
KT_regular_avg_OPS.rename(columns = {'OPS':'regular'},inplace=True)

KT_avg_OPS = pd.merge(KT_pre_avg_OPS, KT_regular_avg_OPS, on='year', how='outer')
KT_avg_OPS = KT_avg_OPS.sort_values(by='year')

KT_avg_OPS

   year       pre   regular
0  2015  0.551000  0.581687
1  2016  0.566615  0.603639
2  2017  0.810133  0.673375
3  2018  0.773000  0.560391

# 11/28
## 결측치 처리 방법

In [37]:
ops_missing_pre = pre_season[pre_season['OPS'].isnull()]
ops_missing_pre

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,3B,HR,TB,RBI,SB,CS,BB,HBP,SO,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
2,1,강경학,2014,한화,-,4,0,2,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,NaN
37,8,강상원,2016,한화,-,6,0,1,0,0,0,0,0,0,2,1,0,0,0,0,NaN,NaN,0,172cm/64kg,1997년 05월 05일,외야수(우투좌타),온양온천초-온양중-북일고,3000만원,NaN
74,24,김강민,2003,SK,-,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/85kg,1982년 09월 13일,외야수(우투우타),본리초-대구중-경북고,11000만원,NaN
80,24,김강민,2009,SK,-,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/85kg,1982년 09월 13일,외야수(우투우타),본리초-대구중-경북고,11000만원,NaN
90,101,문선재,2009,LG,-,2,0,1,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,184cm/80kg,1990년 05월 20일,외야수(우투우타),광주서림초-광주동성중-광주동성고-LG-상무,5000만원,NaN
99,31,김동욱,2008,삼성,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/89kg,1988년 06월 24일,내야수(우투우타),신광초-경복중-대구고-삼성,13000만원,NaN
139,39,김민하,2014,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/88kg,1989년 02월 25일,외야수(우투우타),승학초-부산대신중-경남고-중앙대-롯데-상무-롯데,NaN,NaN
142,40,김사훈,2012,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,173cm/89kg,1987년 06월 18일,포수(우투우타),감천초-대신중-부산고-한민대-롯데-경찰,NaN,NaN
177,45,김성현,2007,SK,-,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,172cm/72kg,1987년 03월 09일,내야수(우투우타),송정동초-충장중-광주제일고-SK-상무,7000만원,NaN
187,46,김성훈,2016,삼성,-,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,172cm/68kg,1993년 10월 27일,내야수(우투좌타),길동초-건대부중-청원고-문화예술대,6000만원,NaN
275,68,김태연,2018,한화,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,178cm/99kg,1997년 06월 10일,내야수(우투우타),청주초-덕수중-야탑고,5000만원,NaN
311,81,나원탁,2017,삼성,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/93kg,1994년 08월 20일,포수(우투우타),석교초-세광중-세광고-홍익대-삼성,10000만원,NaN
348,89,도태훈,2016,NC,-,3,0,0,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,184cm/85kg,1993년 03월 18일,내야수(우투좌타),양정초-개성중-부산고-동의대,NaN,NaN
412,107,박광열,2018,NC,-,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/85kg,1995년 08월 28일,포수(우투우타),서울도곡초-이수중-휘문고,10000만원,NaN
463,116,박세혁,2018,두산,-,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,NaN,1.0,0,181cm/86kg,1990년 01월 09일,포수(우투좌타),수유초-신일중-신일고-고려대-두산-상무,6000만원,NaN
467,119,박용택,2002,LG,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,185cm/90kg,1979년 04월 21일,외야수(우투좌타),고명초-휘문중-휘문고-고려대,30000만원,NaN
543,135,배정대,2014,LG,-,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,185cm/80kg,1995년 06월 12일,외야수(우투우타),도신초-성남중-성남고-LG-KT-경찰,15000만원,NaN
691,175,양종민,2010,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/81kg,1990년 10월 09일,내야수(우투우타),사당초-강남중-덕수고-(영남사이버대)-롯데,9000만원,NaN
786,195,윤수강,2018,NC,-,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/96kg,1990년 02월 22일,포수(우투우타),군산중앙초-충장중-광주제일고-성균관대-롯데-경찰-롯데-KT-LG,3000만원,NaN
970,231,이준수,2013,한화,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,176cm/80kg,1988년 06월 17일,포수(우투우타),백운초-신일중-신일고-한화,NaN,NaN
972,232,이준호,2011,KIA,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/89kg,1987년 09월 07일,외야수(우투우타),군산중앙초-군산남중-군산상고-고려대,NaN,NaN
1038,249,임종혁,2014,롯데,-,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,177cm/77kg,1990년 04월 07일,외야수(우투좌타),중대초-배명중-배명고-동국대,3000만원,NaN
1039,249,임종혁,2015,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,177cm/77kg,1990년 04월 07일,외야수(우투좌타),중대초-배명중-배명고-동국대,3000만원,NaN
1041,250,임훈,2005,SK,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,186cm/86kg,1985년 07월 17일,외야수(좌투좌타),수유초-신일중-신일고-SK-롯데-SK,6500만원,NaN
1068,254,장승현,2014,두산,-,2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,184cm/86kg,1994년 03월 07일,포수(우투우타),서림초-동산중-제물포고-두산-경찰,7000만원,NaN
1082,260,전병우,2018,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/90kg,1992년 10월 24일,내야수(우투우타),동삼초-경남중-개성고-동아대,9000만원,NaN
1120,269,정상호,2010,SK,-,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,187cm/100kg,1982년 12월 24일,포수(우투우타),석천초-동인천중-동산고-SK-상무-SK,45000만원,NaN
1164,275,정주현,2010,LG,-,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,NaN,NaN,0,176cm/76kg,1990년 10월 13일,외야수(우투우타),대현초-경상중-대구고-LG-상무,6000만원,NaN
1378,341,황윤호,2015,NC,-,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,177cm/78kg,1993년 09월 22일,내야수(우투우타),수주초-신월중-장충고-NC-경찰-NC,3000만원,NaN

In [29]:
# OPS값이 결측치인 선수들의 게임 수가 매우 적다는 사실을 발견해서 게임 수가 적은 선수들만 추출해봤는데
# OPS가 존재하는 선수들도 있음(그치만 게임 수가 적어서 이것이 유의미하다고 볼 수 있을지는 의문)
# solution 1: 게임 수가 적은 선수를 빼기: 연도 별 경기수 조사 후 신뢰도 0.05를 기준으로 유의미한 게임수를 계산(shapiro) - 정규성 검사가 먼저 선행되어야 함

### solution 1

In [18]:
pre_games = pre_season['G']
pre_games

0        7
1        4
2        4
3       10
4       14
        ..
1388    10
1389    11
1390    16
1391     6
1392     1
Name: G, Length: 1393, dtype: int64

In [19]:
from scipy.stats import shapiro
stat, p_value = shapiro(pre_games)
print(f"Shapiro-Wilk 검정 통계량: {stat}, p-value: {p_value}") # p-value 0: 데이터는 정규분포를 따르지 않음

Shapiro-Wilk 검정 통계량: 0.5701329112052917, p-value: 0.0

In [35]:
ops_missing_re = regular_season[regular_season['OPS'].isnull()]
ops_missing_re

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,3B,HR,TB,RBI,SB,CS,BB,HBP,SO,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
18,138,백승룡,2013,한화,NaN,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,NaN
175,21,권용관,2000,LG,NaN,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1976년 11월 19일,NaN,봉천초-강남중-성남고-LG-SK-LG,NaN,NaN
200,24,김강민,2002,SK,NaN,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,NaN,NaN,0,182cm/85kg,1982년 09월 13일,외야수(우투우타),본리초-대구중-경북고,11000만원,NaN
265,31,김동욱,2007,삼성,NaN,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/89kg,1988년 06월 24일,내야수(우투우타),신광초-경복중-대구고-삼성,13000만원,NaN
385,45,김성현,2007,SK,NaN,3,0,0,0,0,0,0,0,0,0,1,0,0,0,0,NaN,NaN,0,172cm/72kg,1987년 03월 09일,내야수(우투우타),송정동초-충장중-광주제일고-SK-상무,7000만원,NaN
663,97,마낙길,2015,NC,NaN,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,NaN,NaN,0,NaN,1989년 06월 22일,NaN,현산초(일산리틀)-언북중-충암고-경희대,NaN,NaN
931,132,박해민,2013,삼성,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,180cm/75kg,1990년 02월 24일,외야수(우투좌타),영중초-양천중-신일고-한양대,NaN,NaN
1049,151,손주인,2002,삼성,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,179cm/82kg,1983년 12월 01일,내야수(우투우타),광주서석초-진흥중-진흥고-삼성-경찰-삼성-LG,8000만원,NaN
1192,173,양영동,2006,삼성,NaN,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1983년 07월 16일,NaN,수유초-청원중-청원고-홍익대-삼성-경찰-LG,NaN,NaN
1210,175,양종민,2013,롯데,NaN,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/81kg,1990년 10월 09일,내야수(우투우타),사당초-강남중-덕수고-(영남사이버대)-롯데,9000만원,NaN
1396,200,이대수,2002,SK,NaN,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,175cm/75kg,1981년 08월 21일,내야수(우투우타),군산중앙초-군산중-군산상고-SK-두산-한화,NaN,NaN
1527,213,이승재,2007,롯데,NaN,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1983년 06월 09일,NaN,양덕초-마산중-마산고-경희대-롯데-NC,NaN,NaN
1661,231,이준수,2014,한화,NaN,3,0,0,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,176cm/80kg,1988년 06월 17일,포수(우투우타),백운초-신일중-신일고-한화,NaN,NaN
2023,281,정형식,2009,삼성,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1991년 01월 28일,NaN,화정초-진흥중-진흥고-삼성,NaN,NaN
2138,295,지성준,2016,한화,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,180cm/92kg,1994년 04월 10일,포수(우투우타),청주우암초-청주중-청주고,NaN,NaN
2215,305,최민구,2015,삼성,NaN,6,0,1,0,0,0,0,0,1,0,0,0,0,0,0,NaN,NaN,0,NaN,1992년 03월 17일,NaN,칠성초-대구중-대구상원고-영남대,NaN,NaN
2218,307,최승준,2006,LG,NaN,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,188cm/88kg,1988년 01월 11일,내야수(우투우타),인천서림초-동산중-동산고-LG,5000만원,NaN
2232,309,최원제,2008,삼성,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/95kg,1989년 02월 04일,내야수(우투좌타),사당초-이수중-장충고-삼성-경찰,25000만원,NaN
2233,309,최원제,2009,삼성,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/95kg,1989년 02월 04일,내야수(우투좌타),사당초-이수중-장충고-삼성-경찰,25000만원,NaN
2245,311,최윤석,2018,한화,NaN,2,0,1,0,0,0,0,0,0,0,0,2,0,0,0,NaN,1.0,0,175cm/75kg,1987년 03월 28일,내야수(우투우타),화곡초-덕수중-성남고-홍익대-SK-한화-경찰,6000만원,NaN
2246,312,최재훈,2008,두산,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,178cm/76kg,1989년 08월 27일,포수(우투우타),화곡초-덕수중-덕수고-(방송통신대)-두산-경찰-두산,NaN,NaN
2345,325,하준호,2009,롯데,NaN,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,174cm/78kg,1989년 04월 29일,외야수(좌투좌타),하단초-대동중-경남고-롯데,16000만원,NaN
2362,330,한윤섭,2008,한화,NaN,6,0,2,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1985년 09월 12일,NaN,춘천초-춘천중-경동고-동아대-한화,NaN,NaN
2373,332,허도환,2007,두산,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,176cm/87kg,1984년 07월 31일,포수(우투우타),서울학동초-이수중-서울고-단국대-두산-넥센-한화,NaN,NaN
2416,337,홍재호,2017,KIA,NaN,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,180cm/79kg,1987년 05월 10일,내야수(우투우타),부산대연초-대천중-부산고-고려대-KIA-경찰,4000만원,NaN
2448,344,황진수,2013,롯데,NaN,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,NaN

In [34]:
regular_games = regular_season['G']
regular_games

0        50
1         2
2        41
3       120
4        46
5        59
6        77
7         2
8         4
9         2
10        1
11        4
12       39
13       37
14        8
15        2
16       38
17       33
18        2
19       95
20       88
21       68
22      114
23       89
24      133
25      126
26      129
27      110
28      110
29      122
30      105
31       57
32      100
33      112
34      114
35      101
36       11
37       39
38        6
39        1
40       24
41        6
42        3
43      104
44      126
45      125
46      122
47       83
48      117
49      124
50      119
51      105
52       98
53      123
54      116
55      130
56      129
57      138
58       89
59       43
60       16
61       94
62       93
63       91
64       71
65       54
66      107
67       77
68       26
69        1
70       64
71       93
72        6
73       40
74       48
75       87
76       83
77       81
78      126
79       89
80       52
81      102
82       32
83        5
84       33
85        6
86       18
87       85
88       69
89       10
90       20
91      116
92      133
93      133
94      123
95      124
96      126
97      117
98        3
99       28
100      45
101      93
102      90
103     104
104     135
105      83
106       4
107       4
108      51
109      94
110     120
111     124
112      31
113      97
114     110
115      93
116      73
117      27
118     117
119       5
120      16
121      32
122      16
123     116
124     126
125     126
126      85
127     100
128      93
129      58
130      10
131      52
132      41
133       8
134      47
135       6
136      42
137      92
138      44
139      31
140       1
141      54
142       8
143     119
144     133
145     123
146     102
147     116
148     108
149     144
150     116
151       3
152      11
153      58
154      57
155      14
156     126
157      96
158     119
159     129
160     132
161     127
162     112
163     108
164      73
165     109
166     124
167     115
168     112
169     113
170      82
171      74
172      46
173      45
174      37
175       3
176     106
177     125
178      78
179     124
180      79
181      79
182     121
183      76
184     128
185      61
186      28
187       3
188      68
189       8
190     116
191      40
192       3
193      61
194       6
195     121
196     101
197      14
198     141
199     104
200       1
201       2
202      23
203      23
204      96
205     124
206     106
207     104
208     115
209      80
210     123
211     105
212     113
213      96
214     115
215      88
216      80
217       2
218       9
219      65
220     107
221     125
222     114
223      78
224      73
225       8
226       2
227      50
228      81
229     110
230      70
231      89
232     107
233      66
234      38
235       4
236       8
237      14
238     104
239       8
240      31
241      65
242     123
243      94
244     133
245      97
246      93
247     100
248     103
249      38
250     108
251      94
252      71
253      58
254      50
255       7
256      93
257      22
258     103
259      52
260      35
261       2
262      57
263     125
264     124
265       1
266       1
267       4
268      21
269      21
270      83
271      11
272     125
273     114
274     127
275     103
276     120
277     118
278     124
279      94
280      43
281     119
282     109
283     105
284     110
285     120
286      66
287      28
288      10
289      26
290      78
291      81
292      55
293       1
294      10
295       8
296      27
297       3
298      19
299      56
300      40
301      71
302      93
303     140
304     131
305      46
306       4
307      20
308     114
309      80
310     124
311      71
312     128
313     116
314     118
315     141
316     133
317     128
318      35
319      13
320       8
321      23
322      88
323     137
324     125
325       2
326       7
327      44
328       7
329       6
330       2
331      55
332      54
333      46
334      59
335      17
336      17
337       4
338      19
339      57
340      56
341      97
342     101
343     128
344     129
345     115
346     128
347     132
348     105
349      42
350     122
351      13
352      11
353       6
354      60
355      35
356       8
357      25
358     114
359      80
360      52
361      19
362      68
363      73
364      84
365      49
366     103
367      19
368     112
369      72
370     115
371      98
372     126
373      88
374      33
375       6
376     137
377     127
378       4
379      26
380     125
381     130
382     124
383     111
384       5
385       3
386       6
387      10
388      88
389      97
390     122
391     129
392     138
393     130
394     135
395      47
396     110
397      96
398      36
399      45
400     122
401      42
402       4
403      18
404      83
405     109
406     103
407      71
408     105
409      60
410     114
411      11
412      78
413      38
414      19
415      41
416      28
417      94
418     114
419     106
420     101
421     111
422      87
423     120
424      42
425      44
426     110
427      37
428      11
429       4
430       1
431      14
432      31
433      46
434      10
435      38
436       9
437      25
438      19
439       1
440      75
441      25
442       8
443      73
444     122
445       5
446      36
447      47
448     112
449      80
450      83
451      57
452      84
453      91
454     122
455     133
456     137
457      91
458     131
459      14
460      30
461      13
462      52
463      48
464     134
465     144
466     139
467     125
468     140
469       3
470       5
471       2
472      22
473     128
474     113
475     133
476      93
477       3
478      60
479      86
480      84
481      55
482     120
483     113
484     104
485     109
486     118
487      86
488     118
489      47
490     100
491      98
492     130
493     122
494     121
495      47
496      39
497      34
498      36
499      62
500      88
501      56
502      81
503      64
504      45
505     135
506      57
507       6
508      15
509       8
510      37
511      28
512     104
513      81
514      64
515      47
516      67
517      13
518      28
519      19
520       1
521      88
522     105
523     133
524     129
525     124
526     124
527     118
528     115
529      95
530     126
531     101
532     118
533     133
534     144
535      94
536      73
537      12
538      24
539       4
540      61
541     124
542     112
543     116
544      93
545      89
546      22
547      24
548      46
549      29
550       1
551       2
552      20
553      60
554     140
555     144
556     141
557     129
558      11
559      10
560       7
561      76
562     123
563     141
564       1
565      99
566     126
567     133
568     132
569     130
570     122
571     122
572     125
573     141
574     117
575      60
576      16
577     136
578      20
579      11
580      37
581      59
582      83
583      28
584      54
585      58
586      35
587      97
588      87
589     104
590     123
591     144
592     144
593     125
594     144
595      27
596      40
597       6
598       6
599      12
600      20
601       5
602     106
603      96
604      64
605      99
606     114
607     117
608     118
609     118
610     100
611      15
612     127
613      96
614      24
615     122
616     119
617      73
618     128
619     109
620      85
621     124
622     125
623     118
624     116
625     118
626     137
627     114
628      16
629      31
630       7
631       1
632      10
633      77
634     131
635     135
636     117
637      26
638      65
639       4
640     125
641     129
642      20
643       6
644      32
645      26
646     134
647     137
648     102
649     141
650      76
651     127
652     119
653      79
654      83
655     144
656       2
657      14
658      90
659     125
660     128
661      24
662       2
663       1
664       2
665      32
666      18
667       5
668       8
669      91
670      92
671      65
672      15
673     108
674     122
675     103
676      63
677     136
678      81
679       1
680      17
681       8
682      25
683      11
684      80
685     125
686     105
687      79
688      77
689     105
690     120
691     110
692     122
693      25
694      69
695     122
696      63
697      80
698     119
699      87
700     115
701      64
702       2
703     119
704     124
705     129
706     134
707     123
708     118
709       5
710      34
711      47
712      70
713     132
714     131
715     125
716      84
717      92
718      35
719     107
720     115
721     116
722     106
723      80
724     111
725      87
726     137
727     121
728     131
729     135
730      62
731      97
732      33
733      13
734      60
735      27
736      38
737      56
738      74
739     104
740      76
741      85
742      99
743      91
744      90
745      51
746       5
747      47
748      66
749      95
750     131
751     114
752     117
753     108
754     113
755     109
756      48
757      31
758      22
759     126
760     117
761      97
762      98
763       4
764       9
765      46
766      21
767      37
768      19
769      27
770       2
771      23
772       5
773       7
774      69
775      76
776     127
777     127
778     103
779      39
780      32
781     118
782     141
783     121
784     106
785     115
786      79
787      48
788      68
789      78
790      66
791     133
792     128
793     128
794     140
795     113
796       5
797      23
798      52
799     126
800      97
801     112
802     128
803     127
804     117
805     110
806     135
807     126
808     101
809     103
810       6
811      18
812      87
813      97
814      89
815       1
816      15
817      36
818      73
819      51
820      67
821      93
822     101
823      53
824      27
825      27
826      31
827     112
828     133
829     109
830     126
831     126
832     126
833      96
834     111
835     107
836     115
837     127
838     125
839     124
840     128
841     138
842     138
843     134
844       3
845      24
846     100
847      56
848     131
849     124
850     122
851     122
852     110
853     120
854     124
855     125
856     118
857      14
858      98
859      81
860      16
861      21
862      10
863      13
864      27
865      54
866      51
867      12
868      25
869      29
870      29
871      86
872      68
873      67
874      75
875      26
876      40
877      22
878      21
879      87
880      79
881      74
882       3
883      32
884      51
885      85
886     102
887      26
888     115
889     112
890     123
891     128
892     129
893     122
894     126
895     129
896     129
897      85
898     115
899     100
900     104
901      76
902      46
903     100
904      57
905     100
906      19
907      78
908       7
909       3
910      28
911     116
912      54
913     130
914     133
915     133
916     132
917     123
918     126
919     123
920     104
921     110
922     128
923     121
924     111
925     112
926     125
927      94
928     110
929      68
930     114
931       1
932     119
933     144
934     141
935     144
936     144
937       7
938      23
939       9
940      47
941     108
942      37
943      56
944      15
945      11
946      99
947     122
948     113
949       4
950      93
951      92
952      69
953      66
954      65
955      14
956      30
957       9
958       8
959      23
960       5
961      31
962      52
963     132
964      28
965       4
966      26
967      47
968      65
969      80
970      15
971      34
972      15
973      20
974      51
975      25
976      10
977      52
978      70
979     139
980     131
981     116
982     133
983      25
984       1
985     127
986      86
987     128
988      85
989     140
990     139
991      37
992      42
993      58
994      12
995      27
996       5
997      11
998     112
999     103
1000    104
1001     39
1002     55
1003    124
1004    125
1005     32
1006      6
1007     58
1008     56
1009     10
1010     51
1011      2
1012     16
1013     24
1014     11
1015     59
1016    122
1017    126
1018    126
1019    121
1020    128
1021     92
1022     86
1023     93
1024     97
1025    140
1026    110
1027    124
1028     67
1029      4
1030     80
1031     34
1032    121
1033    116
1034    132
1035    128
1036    122
1037    116
1038    144
1039    144
1040    141
1041      4
1042     44
1043     49
1044     43
1045      3
1046      3
1047     38
1048     51
1049      1
1050     19
1051     14
1052      9
1053     80
1054     27
1055     63
1056     96
1057    125
1058    120
1059     98
1060    122
1061    115
1062     98
1063     18
1064     30
1065     75
1066    116
1067     77
1068     67
1069    103
1070     12
1071    116
1072    117
1073    113
1074     28
1075     47
1076      7
1077     38
1078     78
1079    122
1080    117
1081    126
1082    132
1083    120
1084    108
1085    131
1086     74
1087    132
1088    123
1089    119
1090    120
1091    118
1092    115
1093    127
1094    106
1095     14
1096     34
1097     37
1098    113
1099    115
1100    142
1101      8
1102     11
1103     37
1104     23
1105     97
1106    110
1107    100
1108    107
1109    107
1110     78
1111    119
1112    103
1113     76
1114     28
1115     81
1116    101
1117     54
1118    116
1119     73
1120    126
1121     97
1122    124
1123    125
1124    117
1125     44
1126     37
1127     89
1128     19
1129     50
1130     99
1131     63
1132     25
1133    128
1134    139
1135     64
1136     89
1137     34
1138     16
1139     40
1140     49
1141     16
1142     58
1143    116
1144     44
1145    104
1146    103
1147     99
1148     75
1149     64
1150    106
1151    122
1152    103
1153    135
1154     50
1155     68
1156    108
1157     62
1158     80
1159     19
1160     60
1161      1
1162     37
1163     22
1164     13
1165     20
1166     12
1167    101
1168     90
1169     30
1170     93
1171     92
1172     17
1173    123
1174    133
1175    115
1176    132
1177    118
1178    126
1179     10
1180    132
1181    130
1182    117
1183    125
1184     80
1185    132
1186    140
1187     45
1188      1
1189    108
1190    118
1191     73
1192      2
1193     51
1194     72
1195     48
1196      3
1197    127
1198    119
1199    122
1200    114
1201     97
1202    132
1203    108
1204    111
1205    133
1206      6
1207      7
1208     58
1209      2
1210      1
1211      5
1212     32
1213     21
1214     39
1215     17
1216     46
1217     79
1218    108
1219     68
1220    110
1221     92
1222     57
1223     65
1224     56
1225     49
1226    117
1227    106
1228    123
1229    129
1230     77
1231    113
1232    110
1233    120
1234    122
1235    127
1236    132
1237      1
1238     43
1239     39
1240     46
1241     87
1242     55
1243     75
1244     66
1245    105
1246    128
1247    123
1248      3
1249     50
1250     54
1251     46
1252      9
1253      6
1254    100
1255     24
1256     47
1257     66
1258     96
1259     81
1260      5
1261      5
1262    125
1263     63
1264    133
1265    124
1266    113
1267    138
1268    121
1269    107
1270    144
1271      1
1272     57
1273    122
1274     42
1275    135
1276    128
1277      5
1278     59
1279     58
1280     79
1281     43
1282     60
1283     55
1284     56
1285     59
1286     91
1287     88
1288     63
1289     76
1290     26
1291     82
1292     30
1293     37
1294     33
1295      8
1296      3
1297     13
1298    126
1299    100
1300    118
1301    132
1302     15
1303     95
1304     15
1305     31
1306      5
1307     15
1308     33
1309     53
1310     37
1311     17
1312     54
1313      9
1314     58
1315     75
1316     23
1317     62
1318     93
1319     25
1320     46
1321    126
1322    124
1323     63
1324    113
1325    125
1326     45
1327    123
1328    132
1329    133
1330    118
1331     93
1332     84
1333    110
1334    123
1335     97
1336     97
1337     22
1338     18
1339    110
1340    112
1341    131
1342    121
1343     74
1344     97
1345    122
1346    139
1347    110
1348    133
1349    121
1350      9
1351     11
1352     49
1353     14
1354      3
1355      1
1356     27
1357     30
1358     80
1359    109
1360     21
1361     99
1362    108
1363     92
1364    142
1365    132
1366     15
1367      2
1368     44
1369     68
1370     47
1371      5
1372     28
1373     34
1374      7
1375     28
1376     46
1377     67
1378     75
1379     89
1380     27
1381     74
1382     66
1383     22
1384     29
1385     29
1386     46
1387     22
1388      3
1389     17
1390     75
1391     22
1392     30
1393     34
1394     14
1395    102
1396      3
1397     10
1398    105
1399     99
1400    122
1401    109
1402     90
1403     38
1404    125
1405    122
1406    118
1407    122
1408     15
1409     36
1410     14
1411     58
1412      4
1413     47
1414     13
1415    107
1416     87
1417    125
1418    126
1419    133
1420    130
1421    104
1422    101
1423    102
1424    126
1425    140
1426    143
1427    100
1428      1
1429      6
1430     74
1431     54
1432    132
1433    126
1434    122
1435    121
1436    122
1437    133
1438    127
1439    133
1440    142
1441    144
1442     17
1443     67
1444     28
1445      6
1446      4
1447      4
1448     26
1449     83
1450    137
1451     99
1452    115
1453    120
1454      5
1455      7
1456     28
1457     69
1458     71
1459    111
1460    107
1461    133
1462    126
1463    126
1464    126
1465    125
1466    126
1467    101
1468     42
1469    122
1470    105
1471    138
1472    138
1473    115
1474    101
1475     28
1476    103
1477     96
1478     15
1479     95
1480    114
1481      4
1482      4
1483      9
1484      1
1485    102
1486     56
1487     75
1488     84
1489     31
1490    129
1491     83
1492    104
1493     92
1494     96
1495    101
1496     86
1497     81
1498    131
1499     39
1500     13
1501     10
1502     15
1503     16
1504     15
1505     63
1506     79
1507     55
1508     64
1509     88
1510      5
1511     14
1512    123
1513    122
1514    107
1515     38
1516     68
1517     75
1518     95
1519     85
1520     94
1521     74
1522     31
1523     90
1524    122
1525     28
1526     38
1527      3
1528     12
1529      1
1530     10
1531     10
1532     15
1533     27
1534     93
1535     35
1536     56
1537     45
1538     17
1539     17
1540      4
1541     94
1542     79
1543     14
1544    120
1545     86
1546     14
1547      6
1548     61
1549     14
1550     88
1551    120
1552    111
1553     40
1554     38
1555    104
1556      6
1557     14
1558     52
1559    124
1560    125
1561    118
1562    106
1563     50
1564    129
1565    111
1566    125
1567    100
1568    104
1569    124
1570    113
1571     57
1572    134
1573     16
1574     49
1575     23
1576     89
1577     75
1578     87
1579    102
1580     92
1581     70
1582     65
1583     60
1584     44
1585     75
1586     52
1587    104
1588      2
1589      2
1590     71
1591     72
1592    123
1593    121
1594     53
1595    125
1596    104
1597    110
1598    107
1599     85
1600     79
1601      7
1602    121
1603    128
1604      2
1605     77
1606      9
1607     41
1608     65
1609     42
1610     95
1611      5
1612     81
1613      7
1614      2
1615     20
1616      3
1617      4
1618     23
1619     66
1620     82
1621     24
1622     54
1623     16
1624     69
1625    120
1626    140
1627    130
1628    114
1629    130
1630     32
1631     52
1632     33
1633     32
1634     59
1635     69
1636     65
1637     50
1638      8
1639     46
1640     11
1641      7
1642      5
1643      7
1644    144
1645    109
1646    120
1647    123
1648    122
1649     82
1650    114
1651    121
1652    121
1653    110
1654    124
1655    125
1656    134
1657    107
1658     43
1659     37
1660     47
1661      3
1662     11
1663      4
1664    113
1665     55

In [21]:
stat, p_value = shapiro(regular_games)
print(f"Shapiro-Wilk 검정 통계량: {stat}, p-value: {p_value}") # p-value 0: 데이터는 정규분포를 따르지 않음

Shapiro-Wilk 검정 통계량: 0.9165370464324951, p-value: 8.2844295988895e-35

In [ ]:
# 둘 다 정규성을 따르지 않음..

### solution 2: 해당 행의 다른 열을 보고 OPS가 계산할 수 없는 상황인지 확인하고, 계산할 수 없으면 빼기
    - SLG: 타수가 0이면 계산 불가 -> 그대로 NAN 처리
    - OBP: 타수가 0이면 계산 불가 -> 그대로 NAN 처리 (OBP nan이면 타수가 모두 0임을 확인하고)
    - SLG나 OBP 중 NAN이 하나만 있으면 나머지 하나 값이 OPS가 되고, 계산 후 남은 행 중 OPS가 NAN이면 그 행은 제외한다

#### SLG = ( 1루타 개수 * 1 + 2루타 개수 * 2 + 3루타 개수 * 3 + 홈런 개수 * 4 ) / 타수
-> SLG = ( (H - (2B+3B+HR)) + 2 * 2B + 3 * 3B + 4 * HR ) / AB

In [43]:
SLG_null = pre_season[pre_season['SLG'].isnull()]
SLG_null

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,3B,HR,TB,RBI,SB,CS,BB,HBP,SO,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
2,1,강경학,2014,한화,-,4,0,2,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,NaN
37,8,강상원,2016,한화,-,6,0,1,0,0,0,0,0,0,2,1,0,0,0,0,NaN,NaN,0,172cm/64kg,1997년 05월 05일,외야수(우투좌타),온양온천초-온양중-북일고,3000만원,NaN
74,24,김강민,2003,SK,-,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/85kg,1982년 09월 13일,외야수(우투우타),본리초-대구중-경북고,11000만원,NaN
80,24,김강민,2009,SK,-,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/85kg,1982년 09월 13일,외야수(우투우타),본리초-대구중-경북고,11000만원,NaN
90,101,문선재,2009,LG,-,2,0,1,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,184cm/80kg,1990년 05월 20일,외야수(우투우타),광주서림초-광주동성중-광주동성고-LG-상무,5000만원,NaN
99,31,김동욱,2008,삼성,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/89kg,1988년 06월 24일,내야수(우투우타),신광초-경복중-대구고-삼성,13000만원,NaN
139,39,김민하,2014,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/88kg,1989년 02월 25일,외야수(우투우타),승학초-부산대신중-경남고-중앙대-롯데-상무-롯데,NaN,NaN
142,40,김사훈,2012,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,173cm/89kg,1987년 06월 18일,포수(우투우타),감천초-대신중-부산고-한민대-롯데-경찰,NaN,NaN
177,45,김성현,2007,SK,-,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,172cm/72kg,1987년 03월 09일,내야수(우투우타),송정동초-충장중-광주제일고-SK-상무,7000만원,NaN
187,46,김성훈,2016,삼성,-,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,172cm/68kg,1993년 10월 27일,내야수(우투좌타),길동초-건대부중-청원고-문화예술대,6000만원,NaN
275,68,김태연,2018,한화,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,178cm/99kg,1997년 06월 10일,내야수(우투우타),청주초-덕수중-야탑고,5000만원,NaN
311,81,나원탁,2017,삼성,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/93kg,1994년 08월 20일,포수(우투우타),석교초-세광중-세광고-홍익대-삼성,10000만원,NaN
348,89,도태훈,2016,NC,-,3,0,0,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,184cm/85kg,1993년 03월 18일,내야수(우투좌타),양정초-개성중-부산고-동의대,NaN,NaN
412,107,박광열,2018,NC,-,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/85kg,1995년 08월 28일,포수(우투우타),서울도곡초-이수중-휘문고,10000만원,NaN
463,116,박세혁,2018,두산,-,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,NaN,1.0,0,181cm/86kg,1990년 01월 09일,포수(우투좌타),수유초-신일중-신일고-고려대-두산-상무,6000만원,NaN
467,119,박용택,2002,LG,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,185cm/90kg,1979년 04월 21일,외야수(우투좌타),고명초-휘문중-휘문고-고려대,30000만원,NaN
543,135,배정대,2014,LG,-,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,185cm/80kg,1995년 06월 12일,외야수(우투우타),도신초-성남중-성남고-LG-KT-경찰,15000만원,NaN
691,175,양종민,2010,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/81kg,1990년 10월 09일,내야수(우투우타),사당초-강남중-덕수고-(영남사이버대)-롯데,9000만원,NaN
786,195,윤수강,2018,NC,-,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/96kg,1990년 02월 22일,포수(우투우타),군산중앙초-충장중-광주제일고-성균관대-롯데-경찰-롯데-KT-LG,3000만원,NaN
970,231,이준수,2013,한화,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,176cm/80kg,1988년 06월 17일,포수(우투우타),백운초-신일중-신일고-한화,NaN,NaN
972,232,이준호,2011,KIA,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/89kg,1987년 09월 07일,외야수(우투우타),군산중앙초-군산남중-군산상고-고려대,NaN,NaN
1038,249,임종혁,2014,롯데,-,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,177cm/77kg,1990년 04월 07일,외야수(우투좌타),중대초-배명중-배명고-동국대,3000만원,NaN
1039,249,임종혁,2015,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,177cm/77kg,1990년 04월 07일,외야수(우투좌타),중대초-배명중-배명고-동국대,3000만원,NaN
1041,250,임훈,2005,SK,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,186cm/86kg,1985년 07월 17일,외야수(좌투좌타),수유초-신일중-신일고-SK-롯데-SK,6500만원,NaN
1068,254,장승현,2014,두산,-,2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,184cm/86kg,1994년 03월 07일,포수(우투우타),서림초-동산중-제물포고-두산-경찰,7000만원,NaN
1082,260,전병우,2018,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/90kg,1992년 10월 24일,내야수(우투우타),동삼초-경남중-개성고-동아대,9000만원,NaN
1120,269,정상호,2010,SK,-,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,187cm/100kg,1982년 12월 24일,포수(우투우타),석천초-동인천중-동산고-SK-상무-SK,45000만원,NaN
1164,275,정주현,2010,LG,-,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,NaN,NaN,0,176cm/76kg,1990년 10월 13일,외야수(우투우타),대현초-경상중-대구고-LG-상무,6000만원,NaN
1378,341,황윤호,2015,NC,-,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,177cm/78kg,1993년 09월 22일,내야수(우투우타),수주초-신월중-장충고-NC-경찰-NC,3000만원,NaN

In [63]:
SLG_AB_zero = SLG_null[SLG_null['AB'] == 0]
SLG_AB_zero

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,3B,HR,TB,RBI,SB,CS,BB,HBP,SO,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
2,1,강경학,2014,한화,-,4,0,2,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,NaN
37,8,강상원,2016,한화,-,6,0,1,0,0,0,0,0,0,2,1,0,0,0,0,NaN,NaN,0,172cm/64kg,1997년 05월 05일,외야수(우투좌타),온양온천초-온양중-북일고,3000만원,NaN
74,24,김강민,2003,SK,-,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/85kg,1982년 09월 13일,외야수(우투우타),본리초-대구중-경북고,11000만원,NaN
80,24,김강민,2009,SK,-,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/85kg,1982년 09월 13일,외야수(우투우타),본리초-대구중-경북고,11000만원,NaN
90,101,문선재,2009,LG,-,2,0,1,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,184cm/80kg,1990년 05월 20일,외야수(우투우타),광주서림초-광주동성중-광주동성고-LG-상무,5000만원,NaN
99,31,김동욱,2008,삼성,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/89kg,1988년 06월 24일,내야수(우투우타),신광초-경복중-대구고-삼성,13000만원,NaN
139,39,김민하,2014,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/88kg,1989년 02월 25일,외야수(우투우타),승학초-부산대신중-경남고-중앙대-롯데-상무-롯데,NaN,NaN
142,40,김사훈,2012,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,173cm/89kg,1987년 06월 18일,포수(우투우타),감천초-대신중-부산고-한민대-롯데-경찰,NaN,NaN
177,45,김성현,2007,SK,-,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,172cm/72kg,1987년 03월 09일,내야수(우투우타),송정동초-충장중-광주제일고-SK-상무,7000만원,NaN
187,46,김성훈,2016,삼성,-,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,172cm/68kg,1993년 10월 27일,내야수(우투좌타),길동초-건대부중-청원고-문화예술대,6000만원,NaN
275,68,김태연,2018,한화,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,178cm/99kg,1997년 06월 10일,내야수(우투우타),청주초-덕수중-야탑고,5000만원,NaN
311,81,나원탁,2017,삼성,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/93kg,1994년 08월 20일,포수(우투우타),석교초-세광중-세광고-홍익대-삼성,10000만원,NaN
348,89,도태훈,2016,NC,-,3,0,0,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,184cm/85kg,1993년 03월 18일,내야수(우투좌타),양정초-개성중-부산고-동의대,NaN,NaN
412,107,박광열,2018,NC,-,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/85kg,1995년 08월 28일,포수(우투우타),서울도곡초-이수중-휘문고,10000만원,NaN
463,116,박세혁,2018,두산,-,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,NaN,1.0,0,181cm/86kg,1990년 01월 09일,포수(우투좌타),수유초-신일중-신일고-고려대-두산-상무,6000만원,NaN
467,119,박용택,2002,LG,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,185cm/90kg,1979년 04월 21일,외야수(우투좌타),고명초-휘문중-휘문고-고려대,30000만원,NaN
543,135,배정대,2014,LG,-,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,185cm/80kg,1995년 06월 12일,외야수(우투우타),도신초-성남중-성남고-LG-KT-경찰,15000만원,NaN
691,175,양종민,2010,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/81kg,1990년 10월 09일,내야수(우투우타),사당초-강남중-덕수고-(영남사이버대)-롯데,9000만원,NaN
786,195,윤수강,2018,NC,-,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/96kg,1990년 02월 22일,포수(우투우타),군산중앙초-충장중-광주제일고-성균관대-롯데-경찰-롯데-KT-LG,3000만원,NaN
970,231,이준수,2013,한화,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,176cm/80kg,1988년 06월 17일,포수(우투우타),백운초-신일중-신일고-한화,NaN,NaN
972,232,이준호,2011,KIA,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/89kg,1987년 09월 07일,외야수(우투우타),군산중앙초-군산남중-군산상고-고려대,NaN,NaN
1038,249,임종혁,2014,롯데,-,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,177cm/77kg,1990년 04월 07일,외야수(우투좌타),중대초-배명중-배명고-동국대,3000만원,NaN
1039,249,임종혁,2015,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,177cm/77kg,1990년 04월 07일,외야수(우투좌타),중대초-배명중-배명고-동국대,3000만원,NaN
1041,250,임훈,2005,SK,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,186cm/86kg,1985년 07월 17일,외야수(좌투좌타),수유초-신일중-신일고-SK-롯데-SK,6500만원,NaN
1068,254,장승현,2014,두산,-,2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,184cm/86kg,1994년 03월 07일,포수(우투우타),서림초-동산중-제물포고-두산-경찰,7000만원,NaN
1082,260,전병우,2018,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/90kg,1992년 10월 24일,내야수(우투우타),동삼초-경남중-개성고-동아대,9000만원,NaN
1120,269,정상호,2010,SK,-,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,187cm/100kg,1982년 12월 24일,포수(우투우타),석천초-동인천중-동산고-SK-상무-SK,45000만원,NaN
1164,275,정주현,2010,LG,-,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,NaN,NaN,0,176cm/76kg,1990년 10월 13일,외야수(우투우타),대현초-경상중-대구고-LG-상무,6000만원,NaN
1378,341,황윤호,2015,NC,-,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,177cm/78kg,1993년 09월 22일,내야수(우투우타),수주초-신월중-장충고-NC-경찰-NC,3000만원,NaN

In [64]:
SLG_AB_not_zero = SLG_null[SLG_null['AB'] != 0]
SLG_AB_not_zero

Empty DataFrame
Columns: [batter_id, batter_name, year, team, avg, G, AB, R, H, 2B, 3B, HR, TB, RBI, SB, CS, BB, HBP, SO, GDP, SLG, OBP, E, height/weight, year_born, position, career, starting_salary, OPS]
Index: []

In [65]:
print(SLG_null.shape[0])
print(SLG_AB_zero.shape[0])
print(SLG_AB_not_zero.shape[0])

29
29
0

In [51]:
def cal_SLG(row):
    if np.isnan(row['SLG']) and row['AB'] != 0:
        slg = ((row['H'] - (row['2B'] + row['3B'] + row['HR'])) +
               2 * row['2B'] + 3 * row['3B'] + 4 * row['HR']) / row['AB']
        return slg
    else:
        return row['SLG']

SLG_null['SLG'] = SLG_null.apply(cal_SLG, axis=1)
SLG_null

# pre_season에는 계산할 게 없음

/var/folders/9_/883fj1v55l7dth9k9z0glm800000gn/T/ipykernel_18425/4279440915.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SLG_null['SLG'] = SLG_null.apply(cal_SLG, axis=1)

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,3B,HR,TB,RBI,SB,CS,BB,HBP,SO,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
2,1,강경학,2014,한화,-,4,0,2,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,NaN
37,8,강상원,2016,한화,-,6,0,1,0,0,0,0,0,0,2,1,0,0,0,0,NaN,NaN,0,172cm/64kg,1997년 05월 05일,외야수(우투좌타),온양온천초-온양중-북일고,3000만원,NaN
74,24,김강민,2003,SK,-,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/85kg,1982년 09월 13일,외야수(우투우타),본리초-대구중-경북고,11000만원,NaN
80,24,김강민,2009,SK,-,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/85kg,1982년 09월 13일,외야수(우투우타),본리초-대구중-경북고,11000만원,NaN
90,101,문선재,2009,LG,-,2,0,1,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,184cm/80kg,1990년 05월 20일,외야수(우투우타),광주서림초-광주동성중-광주동성고-LG-상무,5000만원,NaN
99,31,김동욱,2008,삼성,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/89kg,1988년 06월 24일,내야수(우투우타),신광초-경복중-대구고-삼성,13000만원,NaN
139,39,김민하,2014,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/88kg,1989년 02월 25일,외야수(우투우타),승학초-부산대신중-경남고-중앙대-롯데-상무-롯데,NaN,NaN
142,40,김사훈,2012,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,173cm/89kg,1987년 06월 18일,포수(우투우타),감천초-대신중-부산고-한민대-롯데-경찰,NaN,NaN
177,45,김성현,2007,SK,-,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,172cm/72kg,1987년 03월 09일,내야수(우투우타),송정동초-충장중-광주제일고-SK-상무,7000만원,NaN
187,46,김성훈,2016,삼성,-,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,172cm/68kg,1993년 10월 27일,내야수(우투좌타),길동초-건대부중-청원고-문화예술대,6000만원,NaN
275,68,김태연,2018,한화,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,178cm/99kg,1997년 06월 10일,내야수(우투우타),청주초-덕수중-야탑고,5000만원,NaN
311,81,나원탁,2017,삼성,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/93kg,1994년 08월 20일,포수(우투우타),석교초-세광중-세광고-홍익대-삼성,10000만원,NaN
348,89,도태훈,2016,NC,-,3,0,0,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,184cm/85kg,1993년 03월 18일,내야수(우투좌타),양정초-개성중-부산고-동의대,NaN,NaN
412,107,박광열,2018,NC,-,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/85kg,1995년 08월 28일,포수(우투우타),서울도곡초-이수중-휘문고,10000만원,NaN
463,116,박세혁,2018,두산,-,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,NaN,1.0,0,181cm/86kg,1990년 01월 09일,포수(우투좌타),수유초-신일중-신일고-고려대-두산-상무,6000만원,NaN
467,119,박용택,2002,LG,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,185cm/90kg,1979년 04월 21일,외야수(우투좌타),고명초-휘문중-휘문고-고려대,30000만원,NaN
543,135,배정대,2014,LG,-,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,185cm/80kg,1995년 06월 12일,외야수(우투우타),도신초-성남중-성남고-LG-KT-경찰,15000만원,NaN
691,175,양종민,2010,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/81kg,1990년 10월 09일,내야수(우투우타),사당초-강남중-덕수고-(영남사이버대)-롯데,9000만원,NaN
786,195,윤수강,2018,NC,-,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/96kg,1990년 02월 22일,포수(우투우타),군산중앙초-충장중-광주제일고-성균관대-롯데-경찰-롯데-KT-LG,3000만원,NaN
970,231,이준수,2013,한화,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,176cm/80kg,1988년 06월 17일,포수(우투우타),백운초-신일중-신일고-한화,NaN,NaN
972,232,이준호,2011,KIA,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/89kg,1987년 09월 07일,외야수(우투우타),군산중앙초-군산남중-군산상고-고려대,NaN,NaN
1038,249,임종혁,2014,롯데,-,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,177cm/77kg,1990년 04월 07일,외야수(우투좌타),중대초-배명중-배명고-동국대,3000만원,NaN
1039,249,임종혁,2015,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,177cm/77kg,1990년 04월 07일,외야수(우투좌타),중대초-배명중-배명고-동국대,3000만원,NaN
1041,250,임훈,2005,SK,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,186cm/86kg,1985년 07월 17일,외야수(좌투좌타),수유초-신일중-신일고-SK-롯데-SK,6500만원,NaN
1068,254,장승현,2014,두산,-,2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,184cm/86kg,1994년 03월 07일,포수(우투우타),서림초-동산중-제물포고-두산-경찰,7000만원,NaN
1082,260,전병우,2018,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/90kg,1992년 10월 24일,내야수(우투우타),동삼초-경남중-개성고-동아대,9000만원,NaN
1120,269,정상호,2010,SK,-,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,187cm/100kg,1982년 12월 24일,포수(우투우타),석천초-동인천중-동산고-SK-상무-SK,45000만원,NaN
1164,275,정주현,2010,LG,-,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,NaN,NaN,0,176cm/76kg,1990년 10월 13일,외야수(우투우타),대현초-경상중-대구고-LG-상무,6000만원,NaN
1378,341,황윤호,2015,NC,-,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,177cm/78kg,1993년 09월 22일,내야수(우투우타),수주초-신월중-장충고-NC-경찰-NC,3000만원,NaN

#### OBP = 출루 횟수 / 타수

In [57]:
OBP_null = pre_season[pre_season['SLG'].isnull()]
OBP_null

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,3B,HR,TB,RBI,SB,CS,BB,HBP,SO,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
2,1,강경학,2014,한화,-,4,0,2,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,NaN
37,8,강상원,2016,한화,-,6,0,1,0,0,0,0,0,0,2,1,0,0,0,0,NaN,NaN,0,172cm/64kg,1997년 05월 05일,외야수(우투좌타),온양온천초-온양중-북일고,3000만원,NaN
74,24,김강민,2003,SK,-,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/85kg,1982년 09월 13일,외야수(우투우타),본리초-대구중-경북고,11000만원,NaN
80,24,김강민,2009,SK,-,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/85kg,1982년 09월 13일,외야수(우투우타),본리초-대구중-경북고,11000만원,NaN
90,101,문선재,2009,LG,-,2,0,1,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,184cm/80kg,1990년 05월 20일,외야수(우투우타),광주서림초-광주동성중-광주동성고-LG-상무,5000만원,NaN
99,31,김동욱,2008,삼성,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/89kg,1988년 06월 24일,내야수(우투우타),신광초-경복중-대구고-삼성,13000만원,NaN
139,39,김민하,2014,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/88kg,1989년 02월 25일,외야수(우투우타),승학초-부산대신중-경남고-중앙대-롯데-상무-롯데,NaN,NaN
142,40,김사훈,2012,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,173cm/89kg,1987년 06월 18일,포수(우투우타),감천초-대신중-부산고-한민대-롯데-경찰,NaN,NaN
177,45,김성현,2007,SK,-,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,172cm/72kg,1987년 03월 09일,내야수(우투우타),송정동초-충장중-광주제일고-SK-상무,7000만원,NaN
187,46,김성훈,2016,삼성,-,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,172cm/68kg,1993년 10월 27일,내야수(우투좌타),길동초-건대부중-청원고-문화예술대,6000만원,NaN
275,68,김태연,2018,한화,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,178cm/99kg,1997년 06월 10일,내야수(우투우타),청주초-덕수중-야탑고,5000만원,NaN
311,81,나원탁,2017,삼성,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/93kg,1994년 08월 20일,포수(우투우타),석교초-세광중-세광고-홍익대-삼성,10000만원,NaN
348,89,도태훈,2016,NC,-,3,0,0,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,184cm/85kg,1993년 03월 18일,내야수(우투좌타),양정초-개성중-부산고-동의대,NaN,NaN
412,107,박광열,2018,NC,-,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/85kg,1995년 08월 28일,포수(우투우타),서울도곡초-이수중-휘문고,10000만원,NaN
463,116,박세혁,2018,두산,-,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,NaN,1.0,0,181cm/86kg,1990년 01월 09일,포수(우투좌타),수유초-신일중-신일고-고려대-두산-상무,6000만원,NaN
467,119,박용택,2002,LG,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,185cm/90kg,1979년 04월 21일,외야수(우투좌타),고명초-휘문중-휘문고-고려대,30000만원,NaN
543,135,배정대,2014,LG,-,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,185cm/80kg,1995년 06월 12일,외야수(우투우타),도신초-성남중-성남고-LG-KT-경찰,15000만원,NaN
691,175,양종민,2010,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/81kg,1990년 10월 09일,내야수(우투우타),사당초-강남중-덕수고-(영남사이버대)-롯데,9000만원,NaN
786,195,윤수강,2018,NC,-,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/96kg,1990년 02월 22일,포수(우투우타),군산중앙초-충장중-광주제일고-성균관대-롯데-경찰-롯데-KT-LG,3000만원,NaN
970,231,이준수,2013,한화,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,176cm/80kg,1988년 06월 17일,포수(우투우타),백운초-신일중-신일고-한화,NaN,NaN
972,232,이준호,2011,KIA,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/89kg,1987년 09월 07일,외야수(우투우타),군산중앙초-군산남중-군산상고-고려대,NaN,NaN
1038,249,임종혁,2014,롯데,-,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,177cm/77kg,1990년 04월 07일,외야수(우투좌타),중대초-배명중-배명고-동국대,3000만원,NaN
1039,249,임종혁,2015,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,177cm/77kg,1990년 04월 07일,외야수(우투좌타),중대초-배명중-배명고-동국대,3000만원,NaN
1041,250,임훈,2005,SK,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,186cm/86kg,1985년 07월 17일,외야수(좌투좌타),수유초-신일중-신일고-SK-롯데-SK,6500만원,NaN
1068,254,장승현,2014,두산,-,2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,184cm/86kg,1994년 03월 07일,포수(우투우타),서림초-동산중-제물포고-두산-경찰,7000만원,NaN
1082,260,전병우,2018,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/90kg,1992년 10월 24일,내야수(우투우타),동삼초-경남중-개성고-동아대,9000만원,NaN
1120,269,정상호,2010,SK,-,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,187cm/100kg,1982년 12월 24일,포수(우투우타),석천초-동인천중-동산고-SK-상무-SK,45000만원,NaN
1164,275,정주현,2010,LG,-,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,NaN,NaN,0,176cm/76kg,1990년 10월 13일,외야수(우투우타),대현초-경상중-대구고-LG-상무,6000만원,NaN
1378,341,황윤호,2015,NC,-,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,177cm/78kg,1993년 09월 22일,내야수(우투우타),수주초-신월중-장충고-NC-경찰-NC,3000만원,NaN

In [61]:
OBP_AB_zero = OBP_null[OBP_null['AB'] == 0]
OBP_AB_zero

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,3B,HR,TB,RBI,SB,CS,BB,HBP,SO,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
2,1,강경학,2014,한화,-,4,0,2,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,NaN
37,8,강상원,2016,한화,-,6,0,1,0,0,0,0,0,0,2,1,0,0,0,0,NaN,NaN,0,172cm/64kg,1997년 05월 05일,외야수(우투좌타),온양온천초-온양중-북일고,3000만원,NaN
74,24,김강민,2003,SK,-,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/85kg,1982년 09월 13일,외야수(우투우타),본리초-대구중-경북고,11000만원,NaN
80,24,김강민,2009,SK,-,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/85kg,1982년 09월 13일,외야수(우투우타),본리초-대구중-경북고,11000만원,NaN
90,101,문선재,2009,LG,-,2,0,1,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,184cm/80kg,1990년 05월 20일,외야수(우투우타),광주서림초-광주동성중-광주동성고-LG-상무,5000만원,NaN
99,31,김동욱,2008,삼성,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/89kg,1988년 06월 24일,내야수(우투우타),신광초-경복중-대구고-삼성,13000만원,NaN
139,39,김민하,2014,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/88kg,1989년 02월 25일,외야수(우투우타),승학초-부산대신중-경남고-중앙대-롯데-상무-롯데,NaN,NaN
142,40,김사훈,2012,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,173cm/89kg,1987년 06월 18일,포수(우투우타),감천초-대신중-부산고-한민대-롯데-경찰,NaN,NaN
177,45,김성현,2007,SK,-,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,172cm/72kg,1987년 03월 09일,내야수(우투우타),송정동초-충장중-광주제일고-SK-상무,7000만원,NaN
187,46,김성훈,2016,삼성,-,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,172cm/68kg,1993년 10월 27일,내야수(우투좌타),길동초-건대부중-청원고-문화예술대,6000만원,NaN
275,68,김태연,2018,한화,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,178cm/99kg,1997년 06월 10일,내야수(우투우타),청주초-덕수중-야탑고,5000만원,NaN
311,81,나원탁,2017,삼성,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/93kg,1994년 08월 20일,포수(우투우타),석교초-세광중-세광고-홍익대-삼성,10000만원,NaN
348,89,도태훈,2016,NC,-,3,0,0,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,184cm/85kg,1993년 03월 18일,내야수(우투좌타),양정초-개성중-부산고-동의대,NaN,NaN
412,107,박광열,2018,NC,-,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/85kg,1995년 08월 28일,포수(우투우타),서울도곡초-이수중-휘문고,10000만원,NaN
463,116,박세혁,2018,두산,-,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,NaN,1.0,0,181cm/86kg,1990년 01월 09일,포수(우투좌타),수유초-신일중-신일고-고려대-두산-상무,6000만원,NaN
467,119,박용택,2002,LG,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,185cm/90kg,1979년 04월 21일,외야수(우투좌타),고명초-휘문중-휘문고-고려대,30000만원,NaN
543,135,배정대,2014,LG,-,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,185cm/80kg,1995년 06월 12일,외야수(우투우타),도신초-성남중-성남고-LG-KT-경찰,15000만원,NaN
691,175,양종민,2010,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/81kg,1990년 10월 09일,내야수(우투우타),사당초-강남중-덕수고-(영남사이버대)-롯데,9000만원,NaN
786,195,윤수강,2018,NC,-,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/96kg,1990년 02월 22일,포수(우투우타),군산중앙초-충장중-광주제일고-성균관대-롯데-경찰-롯데-KT-LG,3000만원,NaN
970,231,이준수,2013,한화,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,176cm/80kg,1988년 06월 17일,포수(우투우타),백운초-신일중-신일고-한화,NaN,NaN
972,232,이준호,2011,KIA,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/89kg,1987년 09월 07일,외야수(우투우타),군산중앙초-군산남중-군산상고-고려대,NaN,NaN
1038,249,임종혁,2014,롯데,-,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,177cm/77kg,1990년 04월 07일,외야수(우투좌타),중대초-배명중-배명고-동국대,3000만원,NaN
1039,249,임종혁,2015,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,177cm/77kg,1990년 04월 07일,외야수(우투좌타),중대초-배명중-배명고-동국대,3000만원,NaN
1041,250,임훈,2005,SK,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,186cm/86kg,1985년 07월 17일,외야수(좌투좌타),수유초-신일중-신일고-SK-롯데-SK,6500만원,NaN
1068,254,장승현,2014,두산,-,2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,184cm/86kg,1994년 03월 07일,포수(우투우타),서림초-동산중-제물포고-두산-경찰,7000만원,NaN
1082,260,전병우,2018,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/90kg,1992년 10월 24일,내야수(우투우타),동삼초-경남중-개성고-동아대,9000만원,NaN
1120,269,정상호,2010,SK,-,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,187cm/100kg,1982년 12월 24일,포수(우투우타),석천초-동인천중-동산고-SK-상무-SK,45000만원,NaN
1164,275,정주현,2010,LG,-,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,NaN,NaN,0,176cm/76kg,1990년 10월 13일,외야수(우투우타),대현초-경상중-대구고-LG-상무,6000만원,NaN
1378,341,황윤호,2015,NC,-,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,177cm/78kg,1993년 09월 22일,내야수(우투우타),수주초-신월중-장충고-NC-경찰-NC,3000만원,NaN

In [62]:
print(OBP_null.shape[0])
print(OBP_AB_zero.shape[0])

29
29

In [73]:
OPS_null = pre_season[pre_season['OPS'].isnull()]
OPS_null

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,3B,HR,TB,RBI,SB,CS,BB,HBP,SO,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
2,1,강경학,2014,한화,-,4,0,2,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,NaN
37,8,강상원,2016,한화,-,6,0,1,0,0,0,0,0,0,2,1,0,0,0,0,NaN,NaN,0,172cm/64kg,1997년 05월 05일,외야수(우투좌타),온양온천초-온양중-북일고,3000만원,NaN
74,24,김강민,2003,SK,-,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/85kg,1982년 09월 13일,외야수(우투우타),본리초-대구중-경북고,11000만원,NaN
80,24,김강민,2009,SK,-,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/85kg,1982년 09월 13일,외야수(우투우타),본리초-대구중-경북고,11000만원,NaN
90,101,문선재,2009,LG,-,2,0,1,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,184cm/80kg,1990년 05월 20일,외야수(우투우타),광주서림초-광주동성중-광주동성고-LG-상무,5000만원,NaN
99,31,김동욱,2008,삼성,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/89kg,1988년 06월 24일,내야수(우투우타),신광초-경복중-대구고-삼성,13000만원,NaN
139,39,김민하,2014,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/88kg,1989년 02월 25일,외야수(우투우타),승학초-부산대신중-경남고-중앙대-롯데-상무-롯데,NaN,NaN
142,40,김사훈,2012,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,173cm/89kg,1987년 06월 18일,포수(우투우타),감천초-대신중-부산고-한민대-롯데-경찰,NaN,NaN
177,45,김성현,2007,SK,-,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,172cm/72kg,1987년 03월 09일,내야수(우투우타),송정동초-충장중-광주제일고-SK-상무,7000만원,NaN
187,46,김성훈,2016,삼성,-,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,172cm/68kg,1993년 10월 27일,내야수(우투좌타),길동초-건대부중-청원고-문화예술대,6000만원,NaN
275,68,김태연,2018,한화,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,178cm/99kg,1997년 06월 10일,내야수(우투우타),청주초-덕수중-야탑고,5000만원,NaN
311,81,나원탁,2017,삼성,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/93kg,1994년 08월 20일,포수(우투우타),석교초-세광중-세광고-홍익대-삼성,10000만원,NaN
348,89,도태훈,2016,NC,-,3,0,0,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,184cm/85kg,1993년 03월 18일,내야수(우투좌타),양정초-개성중-부산고-동의대,NaN,NaN
412,107,박광열,2018,NC,-,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/85kg,1995년 08월 28일,포수(우투우타),서울도곡초-이수중-휘문고,10000만원,NaN
463,116,박세혁,2018,두산,-,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,NaN,1.0,0,181cm/86kg,1990년 01월 09일,포수(우투좌타),수유초-신일중-신일고-고려대-두산-상무,6000만원,NaN
467,119,박용택,2002,LG,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,185cm/90kg,1979년 04월 21일,외야수(우투좌타),고명초-휘문중-휘문고-고려대,30000만원,NaN
543,135,배정대,2014,LG,-,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,185cm/80kg,1995년 06월 12일,외야수(우투우타),도신초-성남중-성남고-LG-KT-경찰,15000만원,NaN
691,175,양종민,2010,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/81kg,1990년 10월 09일,내야수(우투우타),사당초-강남중-덕수고-(영남사이버대)-롯데,9000만원,NaN
786,195,윤수강,2018,NC,-,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/96kg,1990년 02월 22일,포수(우투우타),군산중앙초-충장중-광주제일고-성균관대-롯데-경찰-롯데-KT-LG,3000만원,NaN
970,231,이준수,2013,한화,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,176cm/80kg,1988년 06월 17일,포수(우투우타),백운초-신일중-신일고-한화,NaN,NaN
972,232,이준호,2011,KIA,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/89kg,1987년 09월 07일,외야수(우투우타),군산중앙초-군산남중-군산상고-고려대,NaN,NaN
1038,249,임종혁,2014,롯데,-,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,177cm/77kg,1990년 04월 07일,외야수(우투좌타),중대초-배명중-배명고-동국대,3000만원,NaN
1039,249,임종혁,2015,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,177cm/77kg,1990년 04월 07일,외야수(우투좌타),중대초-배명중-배명고-동국대,3000만원,NaN
1041,250,임훈,2005,SK,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,186cm/86kg,1985년 07월 17일,외야수(좌투좌타),수유초-신일중-신일고-SK-롯데-SK,6500만원,NaN
1068,254,장승현,2014,두산,-,2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,184cm/86kg,1994년 03월 07일,포수(우투우타),서림초-동산중-제물포고-두산-경찰,7000만원,NaN
1082,260,전병우,2018,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/90kg,1992년 10월 24일,내야수(우투우타),동삼초-경남중-개성고-동아대,9000만원,NaN
1120,269,정상호,2010,SK,-,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,187cm/100kg,1982년 12월 24일,포수(우투우타),석천초-동인천중-동산고-SK-상무-SK,45000만원,NaN
1164,275,정주현,2010,LG,-,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,NaN,NaN,0,176cm/76kg,1990년 10월 13일,외야수(우투우타),대현초-경상중-대구고-LG-상무,6000만원,NaN
1378,341,황윤호,2015,NC,-,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,177cm/78kg,1993년 09월 22일,내야수(우투우타),수주초-신월중-장충고-NC-경찰-NC,3000만원,NaN

In [74]:
OPS_null.shape[0]

29

In [77]:
null_rows = pre_season[pre_season['OBP'].isnull() & pre_season['SLG'].isnull() & pre_season['OPS'].isnull()]
null_rows

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,3B,HR,TB,RBI,SB,CS,BB,HBP,SO,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
2,1,강경학,2014,한화,-,4,0,2,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,NaN
37,8,강상원,2016,한화,-,6,0,1,0,0,0,0,0,0,2,1,0,0,0,0,NaN,NaN,0,172cm/64kg,1997년 05월 05일,외야수(우투좌타),온양온천초-온양중-북일고,3000만원,NaN
74,24,김강민,2003,SK,-,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/85kg,1982년 09월 13일,외야수(우투우타),본리초-대구중-경북고,11000만원,NaN
80,24,김강민,2009,SK,-,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/85kg,1982년 09월 13일,외야수(우투우타),본리초-대구중-경북고,11000만원,NaN
99,31,김동욱,2008,삼성,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/89kg,1988년 06월 24일,내야수(우투우타),신광초-경복중-대구고-삼성,13000만원,NaN
139,39,김민하,2014,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/88kg,1989년 02월 25일,외야수(우투우타),승학초-부산대신중-경남고-중앙대-롯데-상무-롯데,NaN,NaN
142,40,김사훈,2012,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,173cm/89kg,1987년 06월 18일,포수(우투우타),감천초-대신중-부산고-한민대-롯데-경찰,NaN,NaN
177,45,김성현,2007,SK,-,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,172cm/72kg,1987년 03월 09일,내야수(우투우타),송정동초-충장중-광주제일고-SK-상무,7000만원,NaN
187,46,김성훈,2016,삼성,-,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,172cm/68kg,1993년 10월 27일,내야수(우투좌타),길동초-건대부중-청원고-문화예술대,6000만원,NaN
275,68,김태연,2018,한화,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,178cm/99kg,1997년 06월 10일,내야수(우투우타),청주초-덕수중-야탑고,5000만원,NaN
311,81,나원탁,2017,삼성,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/93kg,1994년 08월 20일,포수(우투우타),석교초-세광중-세광고-홍익대-삼성,10000만원,NaN
412,107,박광열,2018,NC,-,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/85kg,1995년 08월 28일,포수(우투우타),서울도곡초-이수중-휘문고,10000만원,NaN
467,119,박용택,2002,LG,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,185cm/90kg,1979년 04월 21일,외야수(우투좌타),고명초-휘문중-휘문고-고려대,30000만원,NaN
543,135,배정대,2014,LG,-,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,185cm/80kg,1995년 06월 12일,외야수(우투우타),도신초-성남중-성남고-LG-KT-경찰,15000만원,NaN
691,175,양종민,2010,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/81kg,1990년 10월 09일,내야수(우투우타),사당초-강남중-덕수고-(영남사이버대)-롯데,9000만원,NaN
786,195,윤수강,2018,NC,-,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/96kg,1990년 02월 22일,포수(우투우타),군산중앙초-충장중-광주제일고-성균관대-롯데-경찰-롯데-KT-LG,3000만원,NaN
970,231,이준수,2013,한화,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,176cm/80kg,1988년 06월 17일,포수(우투우타),백운초-신일중-신일고-한화,NaN,NaN
972,232,이준호,2011,KIA,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/89kg,1987년 09월 07일,외야수(우투우타),군산중앙초-군산남중-군산상고-고려대,NaN,NaN
1038,249,임종혁,2014,롯데,-,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,177cm/77kg,1990년 04월 07일,외야수(우투좌타),중대초-배명중-배명고-동국대,3000만원,NaN
1039,249,임종혁,2015,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,177cm/77kg,1990년 04월 07일,외야수(우투좌타),중대초-배명중-배명고-동국대,3000만원,NaN
1041,250,임훈,2005,SK,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,186cm/86kg,1985년 07월 17일,외야수(좌투좌타),수유초-신일중-신일고-SK-롯데-SK,6500만원,NaN
1082,260,전병우,2018,롯데,-,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,182cm/90kg,1992년 10월 24일,내야수(우투우타),동삼초-경남중-개성고-동아대,9000만원,NaN
1120,269,정상호,2010,SK,-,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,187cm/100kg,1982년 12월 24일,포수(우투우타),석천초-동인천중-동산고-SK-상무-SK,45000만원,NaN
1164,275,정주현,2010,LG,-,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,NaN,NaN,0,176cm/76kg,1990년 10월 13일,외야수(우투우타),대현초-경상중-대구고-LG-상무,6000만원,NaN
1378,341,황윤호,2015,NC,-,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,177cm/78kg,1993년 09월 22일,내야수(우투우타),수주초-신월중-장충고-NC-경찰-NC,3000만원,NaN

In [78]:
null_rows.shape[0] # OPS가 null이라고 해도, OBP와 SLG 모두 null인 행은 25개

25

In [81]:
# OPS가 null인데 OBP, SLG 모두가 NaN은 아닌 행
not_all_null_rows = OPS_null[OPS_null['OBP'].notna() | OPS_null['SLG'].notna()]
not_all_null_rows

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,3B,HR,TB,RBI,SB,CS,BB,HBP,SO,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
90,101,문선재,2009,LG,-,2,0,1,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,184cm/80kg,1990년 05월 20일,외야수(우투우타),광주서림초-광주동성중-광주동성고-LG-상무,5000만원,NaN
348,89,도태훈,2016,NC,-,3,0,0,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,184cm/85kg,1993년 03월 18일,내야수(우투좌타),양정초-개성중-부산고-동의대,NaN,NaN
463,116,박세혁,2018,두산,-,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,NaN,1.0,0,181cm/86kg,1990년 01월 09일,포수(우투좌타),수유초-신일중-신일고-고려대-두산-상무,6000만원,NaN
1068,254,장승현,2014,두산,-,2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,184cm/86kg,1994년 03월 07일,포수(우투우타),서림초-동산중-제물포고-두산-경찰,7000만원,NaN

In [83]:
# 'OPS'가 NaN인 행 제거하고 'OPS' NaN이 아닌 값으로 대체
not_all_null_rows['OPS'] = not_all_null_rows.apply(
    lambda row: row['OBP'] if pd.notna(row['OBP']) else row['SLG'],
    axis=1
)

# 'OPS'가 NaN인 행 제거
filtered_rows = not_all_null_rows.dropna(subset=['OPS'])

# 팀별로 개수 세기
team_counts = filtered_rows['team'].value_counts()

# 결과 출력
print(team_counts)

team
두산    2
LG    1
NC    1
Name: count, dtype: int64

/var/folders/9_/883fj1v55l7dth9k9z0glm800000gn/T/ipykernel_18425/3340921578.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  not_all_null_rows['OPS'] = not_all_null_rows.apply(

In [85]:
not_all_null_rows # OPS가 잘 들어가있는 것을 확인!!

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,3B,HR,TB,RBI,SB,CS,BB,HBP,SO,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
90,101,문선재,2009,LG,-,2,0,1,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,184cm/80kg,1990년 05월 20일,외야수(우투우타),광주서림초-광주동성중-광주동성고-LG-상무,5000만원,1.0
348,89,도태훈,2016,NC,-,3,0,0,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,184cm/85kg,1993년 03월 18일,내야수(우투좌타),양정초-개성중-부산고-동의대,NaN,1.0
463,116,박세혁,2018,두산,-,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,NaN,1.0,0,181cm/86kg,1990년 01월 09일,포수(우투좌타),수유초-신일중-신일고-고려대-두산-상무,6000만원,1.0
1068,254,장승현,2014,두산,-,2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,184cm/86kg,1994년 03월 07일,포수(우투우타),서림초-동산중-제물포고-두산-경찰,7000만원,1.0

In [82]:
# regular_season
SLG_null = regular_season[regular_season['SLG'].isnull()]
SLG_null

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,3B,HR,TB,RBI,SB,CS,BB,HBP,SO,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
18,138,백승룡,2013,한화,NaN,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,NaN
175,21,권용관,2000,LG,NaN,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1976년 11월 19일,NaN,봉천초-강남중-성남고-LG-SK-LG,NaN,NaN
200,24,김강민,2002,SK,NaN,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,NaN,NaN,0,182cm/85kg,1982년 09월 13일,외야수(우투우타),본리초-대구중-경북고,11000만원,NaN
265,31,김동욱,2007,삼성,NaN,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/89kg,1988년 06월 24일,내야수(우투우타),신광초-경복중-대구고-삼성,13000만원,NaN
385,45,김성현,2007,SK,NaN,3,0,0,0,0,0,0,0,0,0,1,0,0,0,0,NaN,NaN,0,172cm/72kg,1987년 03월 09일,내야수(우투우타),송정동초-충장중-광주제일고-SK-상무,7000만원,NaN
663,97,마낙길,2015,NC,NaN,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,NaN,NaN,0,NaN,1989년 06월 22일,NaN,현산초(일산리틀)-언북중-충암고-경희대,NaN,NaN
931,132,박해민,2013,삼성,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,180cm/75kg,1990년 02월 24일,외야수(우투좌타),영중초-양천중-신일고-한양대,NaN,NaN
1049,151,손주인,2002,삼성,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,179cm/82kg,1983년 12월 01일,내야수(우투우타),광주서석초-진흥중-진흥고-삼성-경찰-삼성-LG,8000만원,NaN
1192,173,양영동,2006,삼성,NaN,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1983년 07월 16일,NaN,수유초-청원중-청원고-홍익대-삼성-경찰-LG,NaN,NaN
1210,175,양종민,2013,롯데,NaN,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/81kg,1990년 10월 09일,내야수(우투우타),사당초-강남중-덕수고-(영남사이버대)-롯데,9000만원,NaN
1396,200,이대수,2002,SK,NaN,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,175cm/75kg,1981년 08월 21일,내야수(우투우타),군산중앙초-군산중-군산상고-SK-두산-한화,NaN,NaN
1527,213,이승재,2007,롯데,NaN,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1983년 06월 09일,NaN,양덕초-마산중-마산고-경희대-롯데-NC,NaN,NaN
1661,231,이준수,2014,한화,NaN,3,0,0,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,176cm/80kg,1988년 06월 17일,포수(우투우타),백운초-신일중-신일고-한화,NaN,NaN
2023,281,정형식,2009,삼성,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1991년 01월 28일,NaN,화정초-진흥중-진흥고-삼성,NaN,NaN
2138,295,지성준,2016,한화,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,180cm/92kg,1994년 04월 10일,포수(우투우타),청주우암초-청주중-청주고,NaN,NaN
2215,305,최민구,2015,삼성,NaN,6,0,1,0,0,0,0,0,1,0,0,0,0,0,0,NaN,NaN,0,NaN,1992년 03월 17일,NaN,칠성초-대구중-대구상원고-영남대,NaN,NaN
2218,307,최승준,2006,LG,NaN,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,188cm/88kg,1988년 01월 11일,내야수(우투우타),인천서림초-동산중-동산고-LG,5000만원,NaN
2232,309,최원제,2008,삼성,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/95kg,1989년 02월 04일,내야수(우투좌타),사당초-이수중-장충고-삼성-경찰,25000만원,NaN
2233,309,최원제,2009,삼성,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/95kg,1989년 02월 04일,내야수(우투좌타),사당초-이수중-장충고-삼성-경찰,25000만원,NaN
2245,311,최윤석,2018,한화,NaN,2,0,1,0,0,0,0,0,0,0,0,2,0,0,0,NaN,1.0,0,175cm/75kg,1987년 03월 28일,내야수(우투우타),화곡초-덕수중-성남고-홍익대-SK-한화-경찰,6000만원,NaN
2246,312,최재훈,2008,두산,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,178cm/76kg,1989년 08월 27일,포수(우투우타),화곡초-덕수중-덕수고-(방송통신대)-두산-경찰-두산,NaN,NaN
2345,325,하준호,2009,롯데,NaN,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,174cm/78kg,1989년 04월 29일,외야수(좌투좌타),하단초-대동중-경남고-롯데,16000만원,NaN
2362,330,한윤섭,2008,한화,NaN,6,0,2,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1985년 09월 12일,NaN,춘천초-춘천중-경동고-동아대-한화,NaN,NaN
2373,332,허도환,2007,두산,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,176cm/87kg,1984년 07월 31일,포수(우투우타),서울학동초-이수중-서울고-단국대-두산-넥센-한화,NaN,NaN
2416,337,홍재호,2017,KIA,NaN,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,180cm/79kg,1987년 05월 10일,내야수(우투우타),부산대연초-대천중-부산고-고려대-KIA-경찰,4000만원,NaN
2448,344,황진수,2013,롯데,NaN,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,NaN

In [67]:
SLG_AB_zero = SLG_null[SLG_null['AB'] == 0]
SLG_AB_zero

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,3B,HR,TB,RBI,SB,CS,BB,HBP,SO,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
18,138,백승룡,2013,한화,NaN,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,NaN
175,21,권용관,2000,LG,NaN,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1976년 11월 19일,NaN,봉천초-강남중-성남고-LG-SK-LG,NaN,NaN
200,24,김강민,2002,SK,NaN,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,NaN,NaN,0,182cm/85kg,1982년 09월 13일,외야수(우투우타),본리초-대구중-경북고,11000만원,NaN
265,31,김동욱,2007,삼성,NaN,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/89kg,1988년 06월 24일,내야수(우투우타),신광초-경복중-대구고-삼성,13000만원,NaN
385,45,김성현,2007,SK,NaN,3,0,0,0,0,0,0,0,0,0,1,0,0,0,0,NaN,NaN,0,172cm/72kg,1987년 03월 09일,내야수(우투우타),송정동초-충장중-광주제일고-SK-상무,7000만원,NaN
663,97,마낙길,2015,NC,NaN,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,NaN,NaN,0,NaN,1989년 06월 22일,NaN,현산초(일산리틀)-언북중-충암고-경희대,NaN,NaN
931,132,박해민,2013,삼성,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,180cm/75kg,1990년 02월 24일,외야수(우투좌타),영중초-양천중-신일고-한양대,NaN,NaN
1049,151,손주인,2002,삼성,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,179cm/82kg,1983년 12월 01일,내야수(우투우타),광주서석초-진흥중-진흥고-삼성-경찰-삼성-LG,8000만원,NaN
1192,173,양영동,2006,삼성,NaN,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1983년 07월 16일,NaN,수유초-청원중-청원고-홍익대-삼성-경찰-LG,NaN,NaN
1210,175,양종민,2013,롯데,NaN,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/81kg,1990년 10월 09일,내야수(우투우타),사당초-강남중-덕수고-(영남사이버대)-롯데,9000만원,NaN
1396,200,이대수,2002,SK,NaN,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,175cm/75kg,1981년 08월 21일,내야수(우투우타),군산중앙초-군산중-군산상고-SK-두산-한화,NaN,NaN
1527,213,이승재,2007,롯데,NaN,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1983년 06월 09일,NaN,양덕초-마산중-마산고-경희대-롯데-NC,NaN,NaN
1661,231,이준수,2014,한화,NaN,3,0,0,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,176cm/80kg,1988년 06월 17일,포수(우투우타),백운초-신일중-신일고-한화,NaN,NaN
2023,281,정형식,2009,삼성,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1991년 01월 28일,NaN,화정초-진흥중-진흥고-삼성,NaN,NaN
2138,295,지성준,2016,한화,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,180cm/92kg,1994년 04월 10일,포수(우투우타),청주우암초-청주중-청주고,NaN,NaN
2215,305,최민구,2015,삼성,NaN,6,0,1,0,0,0,0,0,1,0,0,0,0,0,0,NaN,NaN,0,NaN,1992년 03월 17일,NaN,칠성초-대구중-대구상원고-영남대,NaN,NaN
2218,307,최승준,2006,LG,NaN,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,188cm/88kg,1988년 01월 11일,내야수(우투우타),인천서림초-동산중-동산고-LG,5000만원,NaN
2232,309,최원제,2008,삼성,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/95kg,1989년 02월 04일,내야수(우투좌타),사당초-이수중-장충고-삼성-경찰,25000만원,NaN
2233,309,최원제,2009,삼성,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/95kg,1989년 02월 04일,내야수(우투좌타),사당초-이수중-장충고-삼성-경찰,25000만원,NaN
2245,311,최윤석,2018,한화,NaN,2,0,1,0,0,0,0,0,0,0,0,2,0,0,0,NaN,1.0,0,175cm/75kg,1987년 03월 28일,내야수(우투우타),화곡초-덕수중-성남고-홍익대-SK-한화-경찰,6000만원,NaN
2246,312,최재훈,2008,두산,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,178cm/76kg,1989년 08월 27일,포수(우투우타),화곡초-덕수중-덕수고-(방송통신대)-두산-경찰-두산,NaN,NaN
2345,325,하준호,2009,롯데,NaN,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,174cm/78kg,1989년 04월 29일,외야수(좌투좌타),하단초-대동중-경남고-롯데,16000만원,NaN
2362,330,한윤섭,2008,한화,NaN,6,0,2,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1985년 09월 12일,NaN,춘천초-춘천중-경동고-동아대-한화,NaN,NaN
2373,332,허도환,2007,두산,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,176cm/87kg,1984년 07월 31일,포수(우투우타),서울학동초-이수중-서울고-단국대-두산-넥센-한화,NaN,NaN
2416,337,홍재호,2017,KIA,NaN,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,180cm/79kg,1987년 05월 10일,내야수(우투우타),부산대연초-대천중-부산고-고려대-KIA-경찰,4000만원,NaN
2448,344,황진수,2013,롯데,NaN,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,NaN

In [68]:
print(SLG_null.shape[0])
print(SLG_AB_zero.shape[0])

26
26

In [69]:
OBP_null = regular_season[regular_season['SLG'].isnull()]
OBP_null

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,3B,HR,TB,RBI,SB,CS,BB,HBP,SO,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
18,138,백승룡,2013,한화,NaN,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,NaN
175,21,권용관,2000,LG,NaN,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1976년 11월 19일,NaN,봉천초-강남중-성남고-LG-SK-LG,NaN,NaN
200,24,김강민,2002,SK,NaN,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,NaN,NaN,0,182cm/85kg,1982년 09월 13일,외야수(우투우타),본리초-대구중-경북고,11000만원,NaN
265,31,김동욱,2007,삼성,NaN,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/89kg,1988년 06월 24일,내야수(우투우타),신광초-경복중-대구고-삼성,13000만원,NaN
385,45,김성현,2007,SK,NaN,3,0,0,0,0,0,0,0,0,0,1,0,0,0,0,NaN,NaN,0,172cm/72kg,1987년 03월 09일,내야수(우투우타),송정동초-충장중-광주제일고-SK-상무,7000만원,NaN
663,97,마낙길,2015,NC,NaN,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,NaN,NaN,0,NaN,1989년 06월 22일,NaN,현산초(일산리틀)-언북중-충암고-경희대,NaN,NaN
931,132,박해민,2013,삼성,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,180cm/75kg,1990년 02월 24일,외야수(우투좌타),영중초-양천중-신일고-한양대,NaN,NaN
1049,151,손주인,2002,삼성,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,179cm/82kg,1983년 12월 01일,내야수(우투우타),광주서석초-진흥중-진흥고-삼성-경찰-삼성-LG,8000만원,NaN
1192,173,양영동,2006,삼성,NaN,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1983년 07월 16일,NaN,수유초-청원중-청원고-홍익대-삼성-경찰-LG,NaN,NaN
1210,175,양종민,2013,롯데,NaN,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/81kg,1990년 10월 09일,내야수(우투우타),사당초-강남중-덕수고-(영남사이버대)-롯데,9000만원,NaN
1396,200,이대수,2002,SK,NaN,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,175cm/75kg,1981년 08월 21일,내야수(우투우타),군산중앙초-군산중-군산상고-SK-두산-한화,NaN,NaN
1527,213,이승재,2007,롯데,NaN,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1983년 06월 09일,NaN,양덕초-마산중-마산고-경희대-롯데-NC,NaN,NaN
1661,231,이준수,2014,한화,NaN,3,0,0,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,176cm/80kg,1988년 06월 17일,포수(우투우타),백운초-신일중-신일고-한화,NaN,NaN
2023,281,정형식,2009,삼성,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1991년 01월 28일,NaN,화정초-진흥중-진흥고-삼성,NaN,NaN
2138,295,지성준,2016,한화,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,180cm/92kg,1994년 04월 10일,포수(우투우타),청주우암초-청주중-청주고,NaN,NaN
2215,305,최민구,2015,삼성,NaN,6,0,1,0,0,0,0,0,1,0,0,0,0,0,0,NaN,NaN,0,NaN,1992년 03월 17일,NaN,칠성초-대구중-대구상원고-영남대,NaN,NaN
2218,307,최승준,2006,LG,NaN,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,188cm/88kg,1988년 01월 11일,내야수(우투우타),인천서림초-동산중-동산고-LG,5000만원,NaN
2232,309,최원제,2008,삼성,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/95kg,1989년 02월 04일,내야수(우투좌타),사당초-이수중-장충고-삼성-경찰,25000만원,NaN
2233,309,최원제,2009,삼성,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/95kg,1989년 02월 04일,내야수(우투좌타),사당초-이수중-장충고-삼성-경찰,25000만원,NaN
2245,311,최윤석,2018,한화,NaN,2,0,1,0,0,0,0,0,0,0,0,2,0,0,0,NaN,1.0,0,175cm/75kg,1987년 03월 28일,내야수(우투우타),화곡초-덕수중-성남고-홍익대-SK-한화-경찰,6000만원,NaN
2246,312,최재훈,2008,두산,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,178cm/76kg,1989년 08월 27일,포수(우투우타),화곡초-덕수중-덕수고-(방송통신대)-두산-경찰-두산,NaN,NaN
2345,325,하준호,2009,롯데,NaN,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,174cm/78kg,1989년 04월 29일,외야수(좌투좌타),하단초-대동중-경남고-롯데,16000만원,NaN
2362,330,한윤섭,2008,한화,NaN,6,0,2,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1985년 09월 12일,NaN,춘천초-춘천중-경동고-동아대-한화,NaN,NaN
2373,332,허도환,2007,두산,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,176cm/87kg,1984년 07월 31일,포수(우투우타),서울학동초-이수중-서울고-단국대-두산-넥센-한화,NaN,NaN
2416,337,홍재호,2017,KIA,NaN,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,180cm/79kg,1987년 05월 10일,내야수(우투우타),부산대연초-대천중-부산고-고려대-KIA-경찰,4000만원,NaN
2448,344,황진수,2013,롯데,NaN,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,NaN

In [70]:
OBP_AB_zero = OBP_null[OBP_null['AB'] == 0]
OBP_AB_zero

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,3B,HR,TB,RBI,SB,CS,BB,HBP,SO,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
18,138,백승룡,2013,한화,NaN,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,NaN
175,21,권용관,2000,LG,NaN,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1976년 11월 19일,NaN,봉천초-강남중-성남고-LG-SK-LG,NaN,NaN
200,24,김강민,2002,SK,NaN,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,NaN,NaN,0,182cm/85kg,1982년 09월 13일,외야수(우투우타),본리초-대구중-경북고,11000만원,NaN
265,31,김동욱,2007,삼성,NaN,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/89kg,1988년 06월 24일,내야수(우투우타),신광초-경복중-대구고-삼성,13000만원,NaN
385,45,김성현,2007,SK,NaN,3,0,0,0,0,0,0,0,0,0,1,0,0,0,0,NaN,NaN,0,172cm/72kg,1987년 03월 09일,내야수(우투우타),송정동초-충장중-광주제일고-SK-상무,7000만원,NaN
663,97,마낙길,2015,NC,NaN,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,NaN,NaN,0,NaN,1989년 06월 22일,NaN,현산초(일산리틀)-언북중-충암고-경희대,NaN,NaN
931,132,박해민,2013,삼성,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,180cm/75kg,1990년 02월 24일,외야수(우투좌타),영중초-양천중-신일고-한양대,NaN,NaN
1049,151,손주인,2002,삼성,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,179cm/82kg,1983년 12월 01일,내야수(우투우타),광주서석초-진흥중-진흥고-삼성-경찰-삼성-LG,8000만원,NaN
1192,173,양영동,2006,삼성,NaN,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1983년 07월 16일,NaN,수유초-청원중-청원고-홍익대-삼성-경찰-LG,NaN,NaN
1210,175,양종민,2013,롯데,NaN,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/81kg,1990년 10월 09일,내야수(우투우타),사당초-강남중-덕수고-(영남사이버대)-롯데,9000만원,NaN
1396,200,이대수,2002,SK,NaN,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,175cm/75kg,1981년 08월 21일,내야수(우투우타),군산중앙초-군산중-군산상고-SK-두산-한화,NaN,NaN
1527,213,이승재,2007,롯데,NaN,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1983년 06월 09일,NaN,양덕초-마산중-마산고-경희대-롯데-NC,NaN,NaN
1661,231,이준수,2014,한화,NaN,3,0,0,0,0,0,0,0,0,0,0,1,0,0,0,NaN,1.0,0,176cm/80kg,1988년 06월 17일,포수(우투우타),백운초-신일중-신일고-한화,NaN,NaN
2023,281,정형식,2009,삼성,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1991년 01월 28일,NaN,화정초-진흥중-진흥고-삼성,NaN,NaN
2138,295,지성준,2016,한화,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,180cm/92kg,1994년 04월 10일,포수(우투우타),청주우암초-청주중-청주고,NaN,NaN
2215,305,최민구,2015,삼성,NaN,6,0,1,0,0,0,0,0,1,0,0,0,0,0,0,NaN,NaN,0,NaN,1992년 03월 17일,NaN,칠성초-대구중-대구상원고-영남대,NaN,NaN
2218,307,최승준,2006,LG,NaN,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,188cm/88kg,1988년 01월 11일,내야수(우투우타),인천서림초-동산중-동산고-LG,5000만원,NaN
2232,309,최원제,2008,삼성,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/95kg,1989년 02월 04일,내야수(우투좌타),사당초-이수중-장충고-삼성-경찰,25000만원,NaN
2233,309,최원제,2009,삼성,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,183cm/95kg,1989년 02월 04일,내야수(우투좌타),사당초-이수중-장충고-삼성-경찰,25000만원,NaN
2245,311,최윤석,2018,한화,NaN,2,0,1,0,0,0,0,0,0,0,0,2,0,0,0,NaN,1.0,0,175cm/75kg,1987년 03월 28일,내야수(우투우타),화곡초-덕수중-성남고-홍익대-SK-한화-경찰,6000만원,NaN
2246,312,최재훈,2008,두산,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,178cm/76kg,1989년 08월 27일,포수(우투우타),화곡초-덕수중-덕수고-(방송통신대)-두산-경찰-두산,NaN,NaN
2345,325,하준호,2009,롯데,NaN,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,174cm/78kg,1989년 04월 29일,외야수(좌투좌타),하단초-대동중-경남고-롯데,16000만원,NaN
2362,330,한윤섭,2008,한화,NaN,6,0,2,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN,1985년 09월 12일,NaN,춘천초-춘천중-경동고-동아대-한화,NaN,NaN
2373,332,허도환,2007,두산,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,176cm/87kg,1984년 07월 31일,포수(우투우타),서울학동초-이수중-서울고-단국대-두산-넥센-한화,NaN,NaN
2416,337,홍재호,2017,KIA,NaN,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,180cm/79kg,1987년 05월 10일,내야수(우투우타),부산대연초-대천중-부산고-고려대-KIA-경찰,4000만원,NaN
2448,344,황진수,2013,롯데,NaN,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,NaN

In [71]:
print(OBP_null.shape[0])
print(OBP_AB_zero.shape[0])

26
26