In [1]:
import pandas as pd
import numpy as np

In [2]:
pre_season = pd.read_csv("Pre_Season_Batter.csv")
pre_season

# height weight 나누기  # year_born을 나이 계산
# position 우투우타 지우고 내야수/외야수/포수로만 구분

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,...,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
0,0,가르시아,2018,LG,0.350,7,20,1,7,1,...,1,0.550,0.409,1,177cm/93kg,1985년 04월 12일,내야수(우투우타),쿠바 Ciego de Avila Maximo Gomez Baez(대),NaN,0.959
1,1,강경학,2011,한화,0.000,4,2,2,0,0,...,0,0.000,0.500,0,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.500
2,1,강경학,2014,한화,-,4,0,2,0,0,...,0,NaN,NaN,0,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,NaN
3,1,강경학,2015,한화,0.130,10,23,3,3,0,...,0,0.130,0.286,2,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.416
4,1,강경학,2016,한화,0.188,14,32,4,6,1,...,0,0.281,0.212,0,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.493
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1388,342,황재균,2014,롯데,0.407,10,27,3,11,2,...,0,0.593,0.448,1,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,1.041
1389,342,황재균,2015,롯데,0.333,11,30,8,10,3,...,0,0.433,0.389,0,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.822
1390,342,황재균,2016,롯데,0.310,16,42,8,13,3,...,0,0.429,0.370,1,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.799
1391,342,황재균,2018,KT,0.250,6,16,3,4,1,...,0,0.500,0.333,3,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.833
1392,344,황진수,2014,롯데,0.000,1,1,1,0,0,...,0,0.000,0.000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000

In [10]:
# 'height/weight' 열을 '/'를 기준으로 나누고, 각각 'height'와 'weight' 열로 저장
pre_season[['height', 'weight']] = pre_season['height/weight'].str.split('/', expand=True)

# 'height'와 'weight' 열의 값을 숫자로 변환
pre_season['height'] = pd.to_numeric(pre_season['height'].str.extract('(\d+)')[0])
pre_season['weight'] = pd.to_numeric(pre_season['weight'].str.extract('(\d+)')[0])

# BMI 계산 및 소수 둘째 자리까지 반올림
pre_season['BMI'] = pre_season['weight'] / ((pre_season['height'] / 100) ** 2)
pre_season['BMI'] = pre_season['BMI'].round(1)

# 'year_born' 열을 날짜 형식으로 변환
pre_season['year_born'] = pd.to_datetime(pre_season['year_born'], format='%Y년 %m월 %d일')

# 'year'와 'year_born'을 사용하여 'age' 열 생성
pre_season['age'] = pre_season['year'] - pre_season['year_born'].dt.year + 1

pre_season

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,...,height/weight,year_born,position,career,starting_salary,OPS,height,weight,BMI,age
0,0,가르시아,2018,LG,0.350,7,20,1,7,1,...,177cm/93kg,1985-04-12,내야수(우투우타),쿠바 Ciego de Avila Maximo Gomez Baez(대),NaN,0.959,177,93,29.7,34
1,1,강경학,2011,한화,0.000,4,2,2,0,0,...,180cm/72kg,1992-08-11,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.500,180,72,22.2,20
2,1,강경학,2014,한화,-,4,0,2,0,0,...,180cm/72kg,1992-08-11,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,NaN,180,72,22.2,23
3,1,강경학,2015,한화,0.130,10,23,3,3,0,...,180cm/72kg,1992-08-11,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.416,180,72,22.2,24
4,1,강경학,2016,한화,0.188,14,32,4,6,1,...,180cm/72kg,1992-08-11,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.493,180,72,22.2,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1388,342,황재균,2014,롯데,0.407,10,27,3,11,2,...,183cm/96kg,1987-07-28,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,1.041,183,96,28.7,28
1389,342,황재균,2015,롯데,0.333,11,30,8,10,3,...,183cm/96kg,1987-07-28,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.822,183,96,28.7,29
1390,342,황재균,2016,롯데,0.310,16,42,8,13,3,...,183cm/96kg,1987-07-28,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.799,183,96,28.7,30
1391,342,황재균,2018,KT,0.250,6,16,3,4,1,...,183cm/96kg,1987-07-28,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.833,183,96,28.7,32
1392,344,황진수,2014,롯데,0.000,1,1,1,0,0,...,181cm/82kg,1989-02-15,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000,181,82,25.0,26

In [5]:
Regular_Season_Batter_Day_by_Day_b4 = pd.read_csv("Regular_Season_Batter_Day_by_Day_b4.csv")
Regular_Season_Batter_Day_by_Day_b4

,batter_id,batter_name,date,opposing_team,avg1,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,HBP,SO,GDP,avg2,year
0,0,가르시아,3.24,NC,0.333,3,1,1,0,0,0,0,0,0,1,0,1,0,0.333,2018
1,0,가르시아,3.25,NC,0.000,4,0,0,0,0,0,0,0,0,0,0,1,0,0.143,2018
2,0,가르시아,3.27,넥센,0.200,5,0,1,0,0,0,0,0,0,0,0,0,0,0.167,2018
3,0,가르시아,3.28,넥센,0.200,5,1,1,0,0,0,1,0,0,0,0,0,0,0.176,2018
4,0,가르시아,3.29,넥센,0.250,4,0,1,0,0,0,3,0,0,0,0,0,1,0.190,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112268,344,황진수,6.23,LG,-,0,0,0,0,0,0,0,0,0,1,0,0,0,0.158,2018
112269,344,황진수,6.26,넥센,0.000,1,0,0,0,0,0,0,0,0,0,0,1,0,0.150,2018
112270,344,황진수,6.27,넥센,0.500,2,1,1,1,0,0,0,0,0,0,0,1,0,0.182,2018
112271,344,황진수,6.28,넥센,-,0,0,0,0,0,0,0,0,0,0,0,0,0,0.182,2018
112272,344,황진수,6.30,한화,0.000,2,0,0,0,0,0,0,0,0,0,0,0,0,0.167,2018

In [6]:
regular_season = pd.read_csv("Regular_Season_Batter.csv")
regular_season

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,...,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
0,0,가르시아,2018,LG,0.339,50,183,27,62,9,...,3,0.519,0.383,9,177cm/93kg,1985년 04월 12일,내야수(우투우타),쿠바 Ciego de Avila Maximo Gomez Baez(대),NaN,0.902
1,1,강경학,2011,한화,0.000,2,1,0,0,0,...,0,0.000,0.000,1,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.000
2,1,강경학,2014,한화,0.221,41,86,11,19,2,...,1,0.349,0.337,6,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.686
3,1,강경학,2015,한화,0.257,120,311,50,80,7,...,3,0.325,0.348,15,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.673
4,1,강경학,2016,한화,0.158,46,101,16,16,3,...,5,0.257,0.232,7,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.489
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2449,344,황진수,2014,롯데,0.000,5,5,0,0,0,...,0,0.000,0.000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000
2450,344,황진수,2015,롯데,0.000,2,2,0,0,0,...,0,0.000,0.000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000
2451,344,황진수,2016,롯데,0.000,11,10,2,0,0,...,0,0.000,0.000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000
2452,344,황진수,2017,롯데,0.291,60,117,18,34,6,...,2,0.402,0.359,4,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.761
2453,344,황진수,2018,롯데,0.167,18,24,6,4,1,...,0,0.333,0.231,3,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.564

In [11]:
# 'height/weight' 열을 '/'를 기준으로 나누고, 각각 'height'와 'weight' 열로 저장
regular_season[['height', 'weight']] = regular_season['height/weight'].str.split('/', expand=True)

# 'height'와 'weight' 열의 값을 숫자로 변환
regular_season['height'] = pd.to_numeric(regular_season['height'].str.extract('(\d+)')[0])
regular_season['weight'] = pd.to_numeric(regular_season['weight'].str.extract('(\d+)')[0])

# BMI 계산 및 소수 둘째 자리까지 반올림
regular_season['BMI'] = regular_season['weight'] / ((regular_season['height'] / 100) ** 2)
regular_season['BMI'] = regular_season['BMI'].round(1)

# 'year_born' 열을 날짜 형식으로 변환
regular_season['year_born'] = pd.to_datetime(regular_season['year_born'], format='%Y년 %m월 %d일')

# 'year'와 'year_born'을 사용하여 'age' 열 생성
regular_season['age'] = regular_season['year'] - regular_season['year_born'].dt.year + 1

regular_season

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,...,height/weight,year_born,position,career,starting_salary,OPS,height,weight,BMI,age
0,0,가르시아,2018,LG,0.339,50,183,27,62,9,...,177cm/93kg,1985-04-12,내야수(우투우타),쿠바 Ciego de Avila Maximo Gomez Baez(대),NaN,0.902,177.0,93.0,29.7,34
1,1,강경학,2011,한화,0.000,2,1,0,0,0,...,180cm/72kg,1992-08-11,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.000,180.0,72.0,22.2,20
2,1,강경학,2014,한화,0.221,41,86,11,19,2,...,180cm/72kg,1992-08-11,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.686,180.0,72.0,22.2,23
3,1,강경학,2015,한화,0.257,120,311,50,80,7,...,180cm/72kg,1992-08-11,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.673,180.0,72.0,22.2,24
4,1,강경학,2016,한화,0.158,46,101,16,16,3,...,180cm/72kg,1992-08-11,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.489,180.0,72.0,22.2,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2449,344,황진수,2014,롯데,0.000,5,5,0,0,0,...,181cm/82kg,1989-02-15,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000,181.0,82.0,25.0,26
2450,344,황진수,2015,롯데,0.000,2,2,0,0,0,...,181cm/82kg,1989-02-15,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000,181.0,82.0,25.0,27
2451,344,황진수,2016,롯데,0.000,11,10,2,0,0,...,181cm/82kg,1989-02-15,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000,181.0,82.0,25.0,28
2452,344,황진수,2017,롯데,0.291,60,117,18,34,6,...,181cm/82kg,1989-02-15,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.761,181.0,82.0,25.0,29
2453,344,황진수,2018,롯데,0.167,18,24,6,4,1,...,181cm/82kg,1989-02-15,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.564,181.0,82.0,25.0,30

In [8]:
pre_season['year'].value_counts()

2018    182
2017    167
2016    153
2015    134
2014    117
2013    104
2012     87
2011     75
2010     72
2009     66
2008     61
2007     43
2005     37
2006     36
2004     28
2003     19
2002     12
Name: year, dtype: int64

In [15]:
pre_season['team'].value_counts() 
# 우리(2008) = 히어로즈(2009) = 넥센(2010~)
# 현대(1995-2007) -> 제외?

team
두산      186
LG      174
SK      169
롯데      166
삼성      149
KIA     132
한화      131
넥센      112
NC       88
KT       57
현대       18
우리        6
히어로즈      5
Name: count, dtype: int64

In [20]:
현대_pre = pre_season[pre_season['team'] == '현대']
현대_pre['year'].value_counts()

year
2005    5
2006    4
2007    4
2003    3
2004    2
Name: count, dtype: int64

In [21]:
우리_pre = pre_season[pre_season['team'] == '우리']
우리_pre['year'].value_counts()

year
2008    6
Name: count, dtype: int64

In [22]:
히어로즈_pre = pre_season[pre_season['team'] == '히어로즈']
히어로즈_pre['year'].value_counts()

year
2009    5
Name: count, dtype: int64

In [34]:
넥센_pre = pre_season[pre_season['team'] == '넥센']
넥센_pre['year'].value_counts()

year
2016    17
2017    16
2015    16
2018    14
2014    14
2013    12
2012     9
2011     8
2010     6
Name: count, dtype: int64

In [37]:
pre_season.replace({'team':'우리'}, '넥센')
pre_season.replace({'team':'히어로즈'}, '넥센')
regular_season.replace({'team':'우리'}, '넥센')
regular_season.replace({'team':'히어로즈'}, '넥센')

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,...,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
0,0,가르시아,2018,LG,0.339,50,183,27,62,9,...,3,0.519,0.383,9,177cm/93kg,1985년 04월 12일,내야수(우투우타),쿠바 Ciego de Avila Maximo Gomez Baez(대),NaN,0.902
1,1,강경학,2011,한화,0.000,2,1,0,0,0,...,0,0.000,0.000,1,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.000
2,1,강경학,2014,한화,0.221,41,86,11,19,2,...,1,0.349,0.337,6,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.686
3,1,강경학,2015,한화,0.257,120,311,50,80,7,...,3,0.325,0.348,15,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.673
4,1,강경학,2016,한화,0.158,46,101,16,16,3,...,5,0.257,0.232,7,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.489
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2449,344,황진수,2014,롯데,0.000,5,5,0,0,0,...,0,0.000,0.000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000
2450,344,황진수,2015,롯데,0.000,2,2,0,0,0,...,0,0.000,0.000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000
2451,344,황진수,2016,롯데,0.000,11,10,2,0,0,...,0,0.000,0.000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000
2452,344,황진수,2017,롯데,0.291,60,117,18,34,6,...,2,0.402,0.359,4,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.761
2453,344,황진수,2018,롯데,0.167,18,24,6,4,1,...,0,0.333,0.231,3,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.564

In [38]:
넥센_pre = pre_season[pre_season['team'] == '넥센']
넥센_pre['year'].value_counts()

year
2016    17
2017    16
2015    16
2018    14
2014    14
2013    12
2012     9
2011     8
2010     6
Name: count, dtype: int64

In [39]:
# team 별로 묶기

LG_pre = pre_season[pre_season['team'] == 'LG']
LG_regular = regular_season[regular_season['team'] == 'LG']

SK_pre = pre_season[pre_season['team'] == 'SK']
LG_regular = regular_season[regular_season['team'] == 'SK']

LT_pre = pre_season[pre_season['team'] == '롯데']
LT_regular = regular_season[regular_season['team'] == '롯데']

SS_pre = pre_season[pre_season['team'] == '삼성']
SS_regular = regular_season[regular_season['team'] == '삼성']

KIA_pre = pre_season[pre_season['team'] == 'KIA']
KIA_regular = regular_season[regular_season['team'] == 'KIA']

HH_pre = pre_season[pre_season['team'] == '한화']
HH_regular = regular_season[regular_season['team'] == '한화']

NX_pre = pre_season[pre_season['team'] == '넥센']
NX_regular = regular_season[regular_season['team'] == '넥센']

NC_pre = pre_season[pre_season['team'] == 'NC']
NC_regular = regular_season[regular_season['team'] == 'NC']

KT_pre = pre_season[pre_season['team'] == 'KT']
KT_regular = regular_season[regular_season['team'] == 'KT']

In [40]:
NX_regular

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,...,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
66,6,강병식,2010,넥센,0.287,107,251,32,72,9,...,5,0.438247,0.395270,0,NaN,1977년 04월 23일,NaN,성동초-신일중-신일고-고려대-상무-현대-우리-히어로즈-넥센,NaN,0.833517
67,6,강병식,2011,넥센,0.174,77,167,16,29,8,...,3,0.269461,0.250000,0,NaN,1977년 04월 23일,NaN,성동초-신일중-신일고-고려대-상무-현대-우리-히어로즈-넥센,NaN,0.519461
68,6,강병식,2012,넥센,0.200,26,30,4,6,2,...,0,0.266667,0.333333,0,NaN,1977년 04월 23일,NaN,성동초-신일중-신일고-고려대-상무-현대-우리-히어로즈-넥센,NaN,0.600000
93,10,강정호,2010,넥센,0.301,133,449,60,135,30,...,14,0.456570,0.392650,23,NaN,1987년 04월 05일,NaN,화정초-무등중-광주제일고-(남부대)-현대-우리-히어로즈-넥센,NaN,0.849220
94,10,강정호,2011,넥센,0.282,123,444,53,125,22,...,12,0.400901,0.356855,13,NaN,1987년 04월 05일,NaN,화정초-무등중-광주제일고-(남부대)-현대-우리-히어로즈-넥센,NaN,0.757756
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2190,303,최경철,2012,넥센,0.223,81,130,9,29,3,...,0,0.261538,0.262774,3,NaN,1980년 08월 15일,NaN,효자초-전주동중-전주고-동의대-SK-상무-SK-넥센-LG,NaN,0.524312
2374,332,허도환,2011,넥센,0.223,79,166,13,37,6,...,6,0.271000,0.275000,6,176cm/87kg,1984년 07월 31일,포수(우투우타),서울학동초-이수중-서울고-단국대-두산-넥센-한화,NaN,0.546000
2375,332,허도환,2012,넥센,0.195,94,210,11,41,11,...,5,0.262000,0.272000,5,176cm/87kg,1984년 07월 31일,포수(우투우타),서울학동초-이수중-서울고-단국대-두산-넥센-한화,NaN,0.534000
2376,332,허도환,2013,넥센,0.215,116,260,29,56,12,...,7,0.281000,0.327000,8,176cm/87kg,1984년 07월 31일,포수(우투우타),서울학동초-이수중-서울고-단국대-두산-넥센-한화,NaN,0.608000
2377,332,허도환,2014,넥센,0.220,93,182,18,40,8,...,6,0.297000,0.322000,5,176cm/87kg,1984년 07월 31일,포수(우투우타),서울학동초-이수중-서울고-단국대-두산-넥센-한화,NaN,0.619000