In [24]:
import pandas as pd
import numpy as np

pre_season = pd.read_csv("Pre_Season_Batter.csv")

pre_season['position'] = pre_season['position'].str.replace(r"\(.*\)","")
pre_season

C:\Users\yuna0\AppData\Local\Temp/ipykernel_3472/1233456221.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  pre_season['position'] = pre_season['position'].str.replace(r"\(.*\)","")

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,...,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
0,0,가르시아,2018,LG,0.350,7,20,1,7,1,...,1,0.550,0.409,1,177cm/93kg,1985년 04월 12일,내야수,쿠바 Ciego de Avila Maximo Gomez Baez(대),NaN,0.959
1,1,강경학,2011,한화,0.000,4,2,2,0,0,...,0,0.000,0.500,0,180cm/72kg,1992년 08월 11일,내야수,광주대성초-광주동성중-광주동성고,10000만원,0.500
2,1,강경학,2014,한화,-,4,0,2,0,0,...,0,NaN,NaN,0,180cm/72kg,1992년 08월 11일,내야수,광주대성초-광주동성중-광주동성고,10000만원,NaN
3,1,강경학,2015,한화,0.130,10,23,3,3,0,...,0,0.130,0.286,2,180cm/72kg,1992년 08월 11일,내야수,광주대성초-광주동성중-광주동성고,10000만원,0.416
4,1,강경학,2016,한화,0.188,14,32,4,6,1,...,0,0.281,0.212,0,180cm/72kg,1992년 08월 11일,내야수,광주대성초-광주동성중-광주동성고,10000만원,0.493
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1388,342,황재균,2014,롯데,0.407,10,27,3,11,2,...,0,0.593,0.448,1,183cm/96kg,1987년 07월 28일,내야수,사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,1.041
1389,342,황재균,2015,롯데,0.333,11,30,8,10,3,...,0,0.433,0.389,0,183cm/96kg,1987년 07월 28일,내야수,사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.822
1390,342,황재균,2016,롯데,0.310,16,42,8,13,3,...,0,0.429,0.370,1,183cm/96kg,1987년 07월 28일,내야수,사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.799
1391,342,황재균,2018,KT,0.250,6,16,3,4,1,...,0,0.500,0.333,3,183cm/96kg,1987년 07월 28일,내야수,사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.833
1392,344,황진수,2014,롯데,0.000,1,1,1,0,0,...,0,0.000,0.000,0,181cm/82kg,1989년 02월 15일,내야수,석천초-대헌중-공주고,4000만원,0.000

In [25]:
regular_season = pd.read_csv("Regular_Season_Batter.csv")

regular_season['position'] = regular_season['position'].str.replace(r"\(.*\)","")
regular_season

C:\Users\yuna0\AppData\Local\Temp/ipykernel_3472/2661666893.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  regular_season['position'] = regular_season['position'].str.replace(r"\(.*\)","")

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,...,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
0,0,가르시아,2018,LG,0.339,50,183,27,62,9,...,3,0.519,0.383,9,177cm/93kg,1985년 04월 12일,내야수,쿠바 Ciego de Avila Maximo Gomez Baez(대),NaN,0.902
1,1,강경학,2011,한화,0.000,2,1,0,0,0,...,0,0.000,0.000,1,180cm/72kg,1992년 08월 11일,내야수,광주대성초-광주동성중-광주동성고,10000만원,0.000
2,1,강경학,2014,한화,0.221,41,86,11,19,2,...,1,0.349,0.337,6,180cm/72kg,1992년 08월 11일,내야수,광주대성초-광주동성중-광주동성고,10000만원,0.686
3,1,강경학,2015,한화,0.257,120,311,50,80,7,...,3,0.325,0.348,15,180cm/72kg,1992년 08월 11일,내야수,광주대성초-광주동성중-광주동성고,10000만원,0.673
4,1,강경학,2016,한화,0.158,46,101,16,16,3,...,5,0.257,0.232,7,180cm/72kg,1992년 08월 11일,내야수,광주대성초-광주동성중-광주동성고,10000만원,0.489
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2449,344,황진수,2014,롯데,0.000,5,5,0,0,0,...,0,0.000,0.000,0,181cm/82kg,1989년 02월 15일,내야수,석천초-대헌중-공주고,4000만원,0.000
2450,344,황진수,2015,롯데,0.000,2,2,0,0,0,...,0,0.000,0.000,0,181cm/82kg,1989년 02월 15일,내야수,석천초-대헌중-공주고,4000만원,0.000
2451,344,황진수,2016,롯데,0.000,11,10,2,0,0,...,0,0.000,0.000,0,181cm/82kg,1989년 02월 15일,내야수,석천초-대헌중-공주고,4000만원,0.000
2452,344,황진수,2017,롯데,0.291,60,117,18,34,6,...,2,0.402,0.359,4,181cm/82kg,1989년 02월 15일,내야수,석천초-대헌중-공주고,4000만원,0.761
2453,344,황진수,2018,롯데,0.167,18,24,6,4,1,...,0,0.333,0.231,3,181cm/82kg,1989년 02월 15일,내야수,석천초-대헌중-공주고,4000만원,0.564

In [26]:
pre_season.loc[(pre_season['position'] == '내야수')]

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,...,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
0,0,가르시아,2018,LG,0.350,7,20,1,7,1,...,1,0.550,0.409,1,177cm/93kg,1985년 04월 12일,내야수,쿠바 Ciego de Avila Maximo Gomez Baez(대),NaN,0.959
1,1,강경학,2011,한화,0.000,4,2,2,0,0,...,0,0.000,0.500,0,180cm/72kg,1992년 08월 11일,내야수,광주대성초-광주동성중-광주동성고,10000만원,0.500
2,1,강경학,2014,한화,-,4,0,2,0,0,...,0,NaN,NaN,0,180cm/72kg,1992년 08월 11일,내야수,광주대성초-광주동성중-광주동성고,10000만원,NaN
3,1,강경학,2015,한화,0.130,10,23,3,3,0,...,0,0.130,0.286,2,180cm/72kg,1992년 08월 11일,내야수,광주대성초-광주동성중-광주동성고,10000만원,0.416
4,1,강경학,2016,한화,0.188,14,32,4,6,1,...,0,0.281,0.212,0,180cm/72kg,1992년 08월 11일,내야수,광주대성초-광주동성중-광주동성고,10000만원,0.493
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1388,342,황재균,2014,롯데,0.407,10,27,3,11,2,...,0,0.593,0.448,1,183cm/96kg,1987년 07월 28일,내야수,사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,1.041
1389,342,황재균,2015,롯데,0.333,11,30,8,10,3,...,0,0.433,0.389,0,183cm/96kg,1987년 07월 28일,내야수,사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.822
1390,342,황재균,2016,롯데,0.310,16,42,8,13,3,...,0,0.429,0.370,1,183cm/96kg,1987년 07월 28일,내야수,사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.799
1391,342,황재균,2018,KT,0.250,6,16,3,4,1,...,0,0.500,0.333,3,183cm/96kg,1987년 07월 28일,내야수,사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.833
1392,344,황진수,2014,롯데,0.000,1,1,1,0,0,...,0,0.000,0.000,0,181cm/82kg,1989년 02월 15일,내야수,석천초-대헌중-공주고,4000만원,0.000

In [27]:
pre_season.loc[(pre_season['position'] == '외야수')]

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,...,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
6,2,강구성,2013,NC,0.000,3,4,0,0,0,...,1,0.000,0.000,0,180cm/82kg,1993년 06월 09일,외야수,관산초-부천중-야탑고-NC-상무,9000만원,0.000
7,2,강구성,2016,NC,0.000,3,1,0,0,0,...,1,0.000,0.500,0,180cm/82kg,1993년 06월 09일,외야수,관산초-부천중-야탑고-NC-상무,9000만원,0.500
8,2,강구성,2017,NC,1.000,2,1,0,1,0,...,0,1.000,1.000,0,180cm/82kg,1993년 06월 09일,외야수,관산초-부천중-야탑고-NC-상무,9000만원,2.000
36,5,강백호,2018,KT,0.333,6,18,2,6,1,...,0,0.389,0.455,0,184cm/98kg,1999년 07월 29일,외야수,부천북초-이수중-서울고,45000만원,0.844
37,8,강상원,2016,한화,-,6,0,1,0,0,...,0,NaN,NaN,0,172cm/64kg,1997년 05월 05일,외야수,온양온천초-온양중-북일고,3000만원,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1350,326,한동민,2014,SK,0.286,7,7,3,2,0,...,0,0.286,0.500,0,190cm/95kg,1989년 08월 09일,외야수,중앙초(해운대리틀)-대천중-경남고-경성대-SK-상무,3000만원,0.786
1351,326,한동민,2017,SK,0.172,11,29,2,5,0,...,1,0.276,0.194,1,190cm/95kg,1989년 08월 09일,외야수,중앙초(해운대리틀)-대천중-경남고-경성대-SK-상무,3000만원,0.470
1352,326,한동민,2018,SK,0.316,6,19,2,6,2,...,1,0.579,0.350,0,190cm/95kg,1989년 08월 09일,외야수,중앙초(해운대리틀)-대천중-경남고-경성대-SK-상무,3000만원,0.929
1371,334,호잉,2018,한화,0.250,6,16,3,4,0,...,0,0.688,0.278,0,190cm/92kg,1989년 05월 18일,외야수,미국 Fort Loramie(고)-미국 Toledo(대),300000달러,0.966
1377,338,홍창기,2016,LG,0.200,5,5,0,1,1,...,0,0.400,0.429,1,189cm/94kg,1993년 11월 21일,외야수,대일초-매송중-안산공고-건국대-LG-경찰,8000만원,0.829

In [28]:
pre_season.loc[(pre_season['position'] == '포수')]

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,...,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
22,4,강민호,2005,롯데,0.250,11,20,2,5,4,...,0,0.450,0.250,0,185cm/100kg,1985년 08월 18일,포수,제주신광초-포철중-포철공고-(국제디지털대)-롯데,9000만원,0.700
23,4,강민호,2006,롯데,0.381,9,21,6,8,1,...,1,0.810,0.391,0,185cm/100kg,1985년 08월 18일,포수,제주신광초-포철중-포철공고-(국제디지털대)-롯데,9000만원,1.201
24,4,강민호,2007,롯데,0.136,10,22,2,3,0,...,1,0.136,0.174,0,185cm/100kg,1985년 08월 18일,포수,제주신광초-포철중-포철공고-(국제디지털대)-롯데,9000만원,0.310
25,4,강민호,2008,롯데,0.200,5,10,0,2,1,...,0,0.300,0.273,0,185cm/100kg,1985년 08월 18일,포수,제주신광초-포철중-포철공고-(국제디지털대)-롯데,9000만원,0.573
26,4,강민호,2009,롯데,0.167,2,6,0,1,0,...,0,0.167,0.167,0,185cm/100kg,1985년 08월 18일,포수,제주신광초-포철중-포철공고-(국제디지털대)-롯데,9000만원,0.334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1366,332,허도환,2013,넥센,0.000,4,8,0,0,0,...,0,0.000,0.000,0,176cm/87kg,1984년 07월 31일,포수,서울학동초-이수중-서울고-단국대-두산-넥센-한화,NaN,0.000
1367,332,허도환,2014,넥센,0.150,12,20,2,3,0,...,2,0.300,0.227,2,176cm/87kg,1984년 07월 31일,포수,서울학동초-이수중-서울고-단국대-두산-넥센-한화,NaN,0.527
1368,332,허도환,2016,한화,0.250,8,12,2,3,2,...,1,0.417,0.333,0,176cm/87kg,1984년 07월 31일,포수,서울학동초-이수중-서울고-단국대-두산-넥센-한화,NaN,0.750
1369,332,허도환,2017,한화,0.375,7,8,1,3,2,...,0,0.625,0.375,1,176cm/87kg,1984년 07월 31일,포수,서울학동초-이수중-서울고-단국대-두산-넥센-한화,NaN,1.000
1370,332,허도환,2018,SK,0.000,4,4,0,0,0,...,1,0.000,0.000,0,176cm/87kg,1984년 07월 31일,포수,서울학동초-이수중-서울고-단국대-두산-넥센-한화,NaN,0.000

In [29]:
regular_season.loc[(regular_season['position'] == '내야수')]

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,...,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
0,0,가르시아,2018,LG,0.339,50,183,27,62,9,...,3,0.519,0.383,9,177cm/93kg,1985년 04월 12일,내야수,쿠바 Ciego de Avila Maximo Gomez Baez(대),NaN,0.902
1,1,강경학,2011,한화,0.000,2,1,0,0,0,...,0,0.000,0.000,1,180cm/72kg,1992년 08월 11일,내야수,광주대성초-광주동성중-광주동성고,10000만원,0.000
2,1,강경학,2014,한화,0.221,41,86,11,19,2,...,1,0.349,0.337,6,180cm/72kg,1992년 08월 11일,내야수,광주대성초-광주동성중-광주동성고,10000만원,0.686
3,1,강경학,2015,한화,0.257,120,311,50,80,7,...,3,0.325,0.348,15,180cm/72kg,1992년 08월 11일,내야수,광주대성초-광주동성중-광주동성고,10000만원,0.673
4,1,강경학,2016,한화,0.158,46,101,16,16,3,...,5,0.257,0.232,7,180cm/72kg,1992년 08월 11일,내야수,광주대성초-광주동성중-광주동성고,10000만원,0.489
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2449,344,황진수,2014,롯데,0.000,5,5,0,0,0,...,0,0.000,0.000,0,181cm/82kg,1989년 02월 15일,내야수,석천초-대헌중-공주고,4000만원,0.000
2450,344,황진수,2015,롯데,0.000,2,2,0,0,0,...,0,0.000,0.000,0,181cm/82kg,1989년 02월 15일,내야수,석천초-대헌중-공주고,4000만원,0.000
2451,344,황진수,2016,롯데,0.000,11,10,2,0,0,...,0,0.000,0.000,0,181cm/82kg,1989년 02월 15일,내야수,석천초-대헌중-공주고,4000만원,0.000
2452,344,황진수,2017,롯데,0.291,60,117,18,34,6,...,2,0.402,0.359,4,181cm/82kg,1989년 02월 15일,내야수,석천초-대헌중-공주고,4000만원,0.761
2453,344,황진수,2018,롯데,0.167,18,24,6,4,1,...,0,0.333,0.231,3,181cm/82kg,1989년 02월 15일,내야수,석천초-대헌중-공주고,4000만원,0.564

In [30]:
regular_season.loc[(regular_season['position'] == '외야수')]

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,...,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
7,2,강구성,2013,NC,0.000,2,2,0,0,0,...,0,0.000,0.000,0,180cm/82kg,1993년 06월 09일,외야수,관산초-부천중-야탑고-NC-상무,9000만원,0.000
8,2,강구성,2015,NC,0.200,4,5,0,1,1,...,0,0.400,0.200,0,180cm/82kg,1993년 06월 09일,외야수,관산초-부천중-야탑고-NC-상무,9000만원,0.600
9,2,강구성,2016,NC,0.000,2,3,0,0,0,...,0,0.000,0.000,0,180cm/82kg,1993년 06월 09일,외야수,관산초-부천중-야탑고-NC-상무,9000만원,0.000
10,2,강구성,2017,NC,0.000,1,1,0,0,0,...,0,0.000,0.000,0,180cm/82kg,1993년 06월 09일,외야수,관산초-부천중-야탑고-NC-상무,9000만원,0.000
11,2,강구성,2018,NC,0.200,4,5,0,1,1,...,0,0.400,0.200,0,180cm/82kg,1993년 06월 09일,외야수,관산초-부천중-야탑고-NC-상무,9000만원,0.600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2355,326,한동민,2017,SK,0.294,103,350,64,103,21,...,8,0.614,0.396,5,190cm/95kg,1989년 08월 09일,외야수,중앙초(해운대리틀)-대천중-경남고-경성대-SK-상무,3000만원,1.010
2356,326,한동민,2018,SK,0.284,136,486,97,138,31,...,10,0.601,0.367,1,190cm/95kg,1989년 08월 09일,외야수,중앙초(해운대리틀)-대천중-경남고-경성대-SK-상무,3000만원,0.968
2392,334,호잉,2018,한화,0.306,142,529,85,162,47,...,5,0.573,0.369,4,190cm/92kg,1989년 05월 18일,외야수,미국 Fort Loramie(고)-미국 Toledo(대),300000달러,0.942
2418,338,홍창기,2016,LG,0.000,3,4,0,0,0,...,0,0.000,0.200,0,189cm/94kg,1993년 11월 21일,외야수,대일초-매송중-안산공고-건국대-LG-경찰,8000만원,0.200
2419,338,홍창기,2018,LG,0.167,12,18,1,3,2,...,0,0.278,0.400,0,189cm/94kg,1993년 11월 21일,외야수,대일초-매송중-안산공고-건국대-LG-경찰,8000만원,0.678

In [31]:
regular_season.loc[(regular_season['position'] == '포수')]

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,...,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
42,4,강민호,2004,롯데,0.000,3,5,0,0,0,...,0,0.000,0.000,1,185cm/100kg,1985년 08월 18일,포수,제주신광초-포철중-포철공고-(국제디지털대)-롯데,9000만원,0.000
43,4,강민호,2005,롯데,0.243,104,214,20,52,11,...,7,0.341,0.267,9,185cm/100kg,1985년 08월 18일,포수,제주신광초-포철중-포철공고-(국제디지털대)-롯데,9000만원,0.608
44,4,강민호,2006,롯데,0.251,126,410,40,103,20,...,5,0.366,0.307,12,185cm/100kg,1985년 08월 18일,포수,제주신광초-포철중-포철공고-(국제디지털대)-롯데,9000만원,0.673
45,4,강민호,2007,롯데,0.271,125,413,48,112,20,...,10,0.421,0.335,11,185cm/100kg,1985년 08월 18일,포수,제주신광초-포철중-포철공고-(국제디지털대)-롯데,9000만원,0.756
46,4,강민호,2008,롯데,0.292,122,435,51,127,25,...,13,0.485,0.365,6,185cm/100kg,1985년 08월 18일,포수,제주신광초-포철중-포철공고-(국제디지털대)-롯데,9000만원,0.850
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2377,332,허도환,2014,넥센,0.220,93,182,18,40,8,...,6,0.297,0.322,5,176cm/87kg,1984년 07월 31일,포수,서울학동초-이수중-서울고-단국대-두산-넥센-한화,NaN,0.619
2378,332,허도환,2015,한화,0.176,61,91,8,16,7,...,3,0.286,0.272,3,176cm/87kg,1984년 07월 31일,포수,서울학동초-이수중-서울고-단국대-두산-넥센-한화,NaN,0.558
2379,332,허도환,2016,한화,0.218,48,78,9,17,8,...,2,0.321,0.315,1,176cm/87kg,1984년 07월 31일,포수,서울학동초-이수중-서울고-단국대-두산-넥센-한화,NaN,0.636
2380,332,허도환,2017,한화,0.225,30,40,4,9,3,...,2,0.375,0.326,0,176cm/87kg,1984년 07월 31일,포수,서울학동초-이수중-서울고-단국대-두산-넥센-한화,NaN,0.701
2381,332,허도환,2018,SK,0.273,23,22,4,6,0,...,1,0.409,0.333,0,176cm/87kg,1984년 07월 31일,포수,서울학동초-이수중-서울고-단국대-두산-넥센-한화,NaN,0.742